﻿@model eHRMS.Models.LoginModel
@{
    ViewBag.Title = "Sign In";
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
}

<section class="body-sign">
    <div class="center-sign">
        <a href="#" class="logo pull-left">
            <img src="~/Content/assets/images/logo.jpg" height="54" alt="eHRMS-logo" />
        </a>

        <div class="panel panel-sign">
            <div class="panel-title-sign mt-xl text-right">
                <h2 class="title text-uppercase text-bold m-none"><i class="fa fa-user mr-xs"></i> Sign In</h2>
            </div>
            <div class="panel-body">
                @using (Html.BeginForm("SignIn", "Account", FormMethod.Post))
                {
                    if (ViewBag.SuccessMsg != null)
                    {
                        <div class="alert alert-success">
                            <p class="m-none text-semibold h6">@ViewBag.SuccessMsg</p>
                        </div>
                    }
                    if (ViewBag.ErrorMsg != null)
                    {
                        <div class="alert alert-danger">
                            <p class="m-none text-semibold h6">@ViewBag.ErrorMsg</p>
                        </div>
                    }
                    <div class="form-group mb-lg">
                        <label>Username <span style="color:#E04B4A;">*</span></label>
                        <div class="input-group input-group-icon">
                            <input name="Username" type="text" class="form-control input-lg" placeholder="Username/Email" value="" />
                            <span class="input-group-addon">
                                <span class="icon icon-lg">
                                    <i class="fa fa-user"></i>
                                </span>
                            </span>
                        </div>
                    </div>

                    <div class="form-group mb-lg">
                        <div class="clearfix">
                            <label class="pull-left">Password <span style="color:#E04B4A;">*</span></label>
                            <a href="@Url.Action("Forgot_Password", "Account")" class="pull-right">Forgot Password?</a>
                        </div>
                        <div class="input-group input-group-icon">
                            <input name="Password" type="password" class="form-control input-lg" placeholder="Password" value="" />
                            <span class="input-group-addon">
                                <span class="icon icon-lg">
                                    <i class="fa fa-lock"></i>
                                </span>
                            </span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-8">
                            @*<div class="checkbox-custom checkbox-default">
                                    <input id="RememberMe" name="rememberme" type="checkbox" />
                                        <label for="RememberMe">Remember Me</label>
                                    <a href="@Url.Action("Forgot_Password", "Account")" class="pull-left">Forgot Password?</a>
                                </div>*@
                        </div>
                        <div class="col-sm-4 text-right">
                            <button type="submit" class="btn btn-primary hidden-xs">Sign In</button>
                            <button type="submit" class="btn btn-primary btn-block btn-lg visible-xs mt-lg">Sign In</button>
                        </div>
                    </div>
                }
                <span class="mt-lg mb-lg line-thru text-center text-uppercase">
                    <span>or</span>
                </span>

                @*<div class="mb-xs text-center">
                        <a class="btn btn-facebook mb-md ml-xs mr-xs">Connect with <i class="fa fa-facebook"></i></a>
                        <a class="btn btn-twitter mb-md ml-xs mr-xs">Connect with <i class="fa fa-twitter"></i></a>
                    </div>*@

                <p class="text-center">Don't have an account yet? <a href="@Url.Action("Register", "Account")">Sign Up</a>

            </div>
        </div>
        <p class="text-center text-muted mt-md mb-md">&copy; Estar Software Solution Pvt. Ltd. 2016. All Rights Reserved.</p>
    </div>
</section>

