﻿@model eHRMS.Areas.HR.Models.SalaryComponents

@{
    ViewBag.Title = "Deduction Types";
    ViewBag.Now = "Payroll Management / Deduction Types";
    Layout = "~/Areas/HR/Views/Shared/_LayoutPageHR.cshtml";
}

@using (Html.BeginForm("Deduction_Types", "HRPayroll", FormMethod.Post))
{
    if (ViewBag.SuccessMsg != null)
    {
        <div class="alert alert-success">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <strong>Well done!</strong> @ViewBag.SuccessMsg
        </div>
    }
    if (ViewBag.ErrorMsg != null)
    {
        <div class="alert alert-danger">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <strong>Oh snap!</strong> @ViewBag.ErrorMsg
        </div>
    }
    <div class="row">
        <div class="col-lg-12">
            <section class="panel">
                <header class="panel-heading">
                    <div class="panel-actions">
                        @*<button type="button" class="mb-xs mt-xs mr-xs btn btn-primary" onclick="location.href = '@Url.Action("Assign_Leave", "AttLeave", new { area = "HR" })';">View All</button>*@
                    </div>
                    <h2 class="panel-title">Deduction Types</h2>
                </header>
                <div class="panel-body">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Component Name <span style="color:#E04B4A;">*</span></label>
                            <div class="col-md-6">
                                <div class="input-group input-group-icon">
                                    @Html.TextBoxFor(m => m.TypeName, new { @class = "form-control", placeholder = "Component Name" })
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Deduct From <span style="color:#E04B4A;">*</span></label>
                            <div class="col-md-6">
                                <div class="input-group input-group-icon">
                                    @Html.DropDownListFor(model => model.DeductFrom, ViewBag.DeductFromData as IEnumerable<SelectListItem>, "Select Deduction From", new { @class = "form-control populate" })
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Deduct Type <span style="color:#E04B4A;">*</span></label>
                            <div class="col-md-6">
                                <div class="input-group input-group-icon">

                                    <div class="input-group input-group-icon">
                                        @Html.DropDownListFor(model => model.DeductType, ViewBag.DeductTypeData as IEnumerable<SelectListItem>, "Select Deduct Type", new { @class = "form-control populate" })
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Amount <span style="color:#E04B4A;">*</span></label>
                            <div class="col-md-6">
                                <div class="input-group input-group-icon">
                                    @Html.TextBoxFor(m => m.Percentage, new { @class = "form-control", placeholder = "Percentage (i.e. 5)" })
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Taxable <span style="color:#E04B4A;">*</span></label>
                            <div class="col-md-6">
                                <div class="input-group input-group-icon">
                                    @if (Model != null && Model.IsTaxable == true)
                                    {
                                        @:Yes  @Html.RadioButtonFor(m => m.IsTaxable, true)
                                        @:No   @Html.RadioButtonFor(m => m.IsTaxable, false)
                                    }
                                    @if (Model != null && Model.IsTaxable == false)
                                    {
                                        @:Yes  @Html.RadioButtonFor(m => m.IsTaxable, false)
                                        @:No   @Html.RadioButtonFor(m => m.IsTaxable, true)
                                    }
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <footer class="panel-footer center">
                    <button type="submit" class="mb-xs mt-xs mr-xs btn btn-success">Save</button>
                    @*<button type="button" onclick="location.href = '@Url.Action("AttendanceLeaveDashboard", "AttLeave", new { area = "HR" })';" class="mb-xs mt-xs mr-xs btn btn-danger">Cancel</button>*@
                </footer>
            </section>
        </div>
    </div>
}

@Html.Action("Deduction_Types_View", "HRPayroll")