﻿@model eHRMS.Areas.HR.Models.EmployeeInvestment
@{
    ViewBag.Title = "Employee Investment Add";
    ViewBag.Now = "Payroll Management / Income Tax / Employee Investment Add";
    Layout = "~/Areas/HR/Views/Shared/_LayoutPageHR.cshtml";
}

@using (Html.BeginForm("Employee_Investment_Add", "HRPayroll", FormMethod.Post))
{
    if (ViewBag.SuccessMsg != null)
    {
        <div class="alert alert-success">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <strong>Well done!</strong> @ViewBag.SuccessMsg
        </div>
    }
    if (ViewBag.ErrorMsg != null)
    {
        <div class="alert alert-danger">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <strong>Oh snap!</strong> @ViewBag.ErrorMsg
        </div>
    }
    <div class="row">
        <div class="col-lg-12">
            <section class="panel">
                <header class="panel-heading">
                    <div class="panel-actions">
                        <button type="button" class="mb-xs mt-xs mr-xs btn btn-primary" onclick="location.href = '@Url.Action("Employee_Investment", "HRPayroll", new { area = "HR" })';">View All</button>
                    </div>
                    <h2 class="panel-title">Employee Investment Add</h2>
                </header>
                <div class="panel-body">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Employee Code <span style="color:#E04B4A;">*</span></label>
                            <div class="col-md-6">
                                <div class="input-group input-group-icon">
                                    @Html.DropDownListFor(model => model.Employee_Code, ViewBag.Code_List_Employee as IEnumerable<SelectListItem>, "Select Employee Code", new { @class = "form-control populate" })
                                </div>
                            </div>
                        </div>                        
                        <hr class="dotted tall">
                        <div class="row">
                            <div class="col-md-12 form-group">
                                <div class="col-md-12">
                                    <h4 class="mb-xs">Exemption Under 80C, 80CCC, 80CCD, Max - 150000</h4>
                                </div>
                            </div>
                            <div class="col-md-6 form-group">                                
                                    <label class="col-sm-8 control-label">Public Provident Fund PPF(80C) </label>
                                <div class="col-md-4">
                                    <div class="input-group input-group-icon">
                                        <span class="input-group-addon">
                                            <span class="icon"><i class="fa fa-pencil"></i></span>
                                        </span>
                                        @Html.TextBoxFor(m => m.Public_Provident_Fund_PPF_80C, new { @class = "form-control", @placeholder = "Amount", onkeypress = "return checkOnlyNumber(this,event);" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 form-group">
                                <label class="col-sm-8 control-label">Life Insurance LIC(80C) </label>
                                <div class="col-md-4">
                                    <div class="input-group input-group-icon">
                                        <span class="input-group-addon">
                                            <span class="icon"><i class="fa fa-pencil"></i></span>
                                        </span>
                                        @Html.TextBoxFor(m => m.Life_Insurance_LIC_80C, new { @class = "form-control", @placeholder = "Amount", onkeypress = "return checkOnlyNumber(this,event);" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 form-group">
                                <label class="col-sm-8 control-label">National Savings Certificate Purchased NSC(80C) </label>
                                <div class="col-md-4">
                                    <div class="input-group input-group-icon">
                                        <span class="input-group-addon">
                                            <span class="icon"><i class="fa fa-pencil"></i></span>
                                        </span>
                                        @Html.TextBoxFor(m => m.National_Savings_Certificate_Purchased_NSC_80C, new { @class = "form-control", @placeholder = "Amount", onkeypress = "return checkOnlyNumber(this,event);" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 form-group">
                                <label class="col-sm-8 control-label">Unit Linked Insurance Plan ULIP(80C) </label>
                                <div class="col-md-4">
                                    <div class="input-group input-group-icon">
                                        <span class="input-group-addon">
                                            <span class="icon"><i class="fa fa-pencil"></i></span>
                                        </span>
                                        @Html.TextBoxFor(m => m.Unit_Linked_Insurance_Plan_ULIP_80C, new { @class = "form-control", @placeholder = "Amount", onkeypress = "return checkOnlyNumber(this,event);" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 form-group">
                                <label class="col-sm-8 control-label">Mutual Funds Notified U/S 10(23D) </label>
                                <div class="col-md-4">
                                    <div class="input-group input-group-icon">
                                        <span class="input-group-addon">
                                            <span class="icon"><i class="fa fa-pencil"></i></span>
                                        </span>
                                        @Html.TextBoxFor(m => m.Mutual_Funds_Notified_US_10_23D, new { @class = "form-control", @placeholder = "Amount", onkeypress = "return checkOnlyNumber(this,event);" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 form-group">
                                <label class="col-sm-8 control-label">Contribution To Pension Fund (80C) </label>
                                <div class="col-md-4">
                                    <div class="input-group input-group-icon">
                                        <span class="input-group-addon">
                                            <span class="icon"><i class="fa fa-pencil"></i></span>
                                        </span>
                                        @Html.TextBoxFor(m => m.Contribution_To_Pension_Fund_80C, new { @class = "form-control", @placeholder = "Amount", onkeypress = "return checkOnlyNumber(this,event);" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 form-group">
                                <label class="col-sm-8 control-label">5 Years Fixed Deposits In Scheduled Bank (80C) </label>
                                <div class="col-md-4">
                                    <div class="input-group input-group-icon">
                                        <span class="input-group-addon">
                                            <span class="icon"><i class="fa fa-pencil"></i></span>
                                        </span>
                                        @Html.TextBoxFor(m => m.Five_Years_Fixed_Deposits_In_Scheduled_Bank_80C, new { @class = "form-control", @placeholder = "Amount", onkeypress = "return checkOnlyNumber(this,event);" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 form-group">
                                <label class="col-sm-8 control-label">Senior Citizens Savings Scheme(80C) </label>
                                <div class="col-md-4">
                                    <div class="input-group input-group-icon">
                                        <span class="input-group-addon">
                                            <span class="icon"><i class="fa fa-pencil"></i></span>
                                        </span>
                                        @Html.TextBoxFor(m => m.Senior_Citizens_Savings_Scheme_80C, new { @class = "form-control", @placeholder = "Amount", onkeypress = "return checkOnlyNumber(this,event);" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 form-group">
                                <label class="col-sm-8 control-label">Equity Linked Savings Scheme ELSS(80C) </label>
                                <div class="col-md-4">
                                    <div class="input-group input-group-icon">
                                        <span class="input-group-addon">
                                            <span class="icon"><i class="fa fa-pencil"></i></span>
                                        </span>
                                        @Html.TextBoxFor(m => m.Equity_Linked_Savings_Scheme_ELSS_80C, new { @class = "form-control", @placeholder = "Amount", onkeypress = "return checkOnlyNumber(this,event);" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 form-group">
                                <label class="col-sm-8 control-label">Bonds, Issued By NBA And Rural Development(80C) </label>
                                <div class="col-md-4">
                                    <div class="input-group input-group-icon">
                                        <span class="input-group-addon">
                                            <span class="icon"><i class="fa fa-pencil"></i></span>
                                        </span>
                                        @Html.TextBoxFor(m => m.Bonds_Issued_By_National_Bank_Of_Agriculture_And_Rural_Development_80C, new { @class = "form-control", @placeholder = "Amount", onkeypress = "return checkOnlyNumber(this,event);" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 form-group">
                                <label class="col-sm-8 control-label">5 Years Of Post Office Deposits(80C) </label>
                                <div class="col-md-4">
                                    <div class="input-group input-group-icon">
                                        <span class="input-group-addon">
                                            <span class="icon"><i class="fa fa-pencil"></i></span>
                                        </span>
                                        @Html.TextBoxFor(m => m.Five_Years_Of_Post_Office_Deposits_80C, new { @class = "form-control", @placeholder = "Amount", onkeypress = "return checkOnlyNumber(this,event);" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 form-group">
                                <label class="col-sm-8 control-label">Education/Tution Fee (Up to 2 Children)(80C) </label>
                                <div class="col-md-4">
                                    <div class="input-group input-group-icon">
                                        <span class="input-group-addon">
                                            <span class="icon"><i class="fa fa-pencil"></i></span>
                                        </span>
                                        @Html.TextBoxFor(m => m.Education_Tution_Fee_Upto_Two_Children_80C, new { @class = "form-control", @placeholder = "Amount", onkeypress = "return checkOnlyNumber(this,event);" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr class="dotted tall">
                        <div class="row">
                            <div class="col-md-12 form-group">
                                <div class="col-md-12">
                                    <h4 class="mb-xs">Exemption Under 80G, 80E</h4>
                                </div>
                            </div>
                            <div class="col-md-6 form-group">
                                <label class="col-sm-8 control-label">Rajiv Gandhi Equity Saving Schemes </label>
                                <div class="col-md-4">
                                    <div class="input-group input-group-icon">
                                        <span class="input-group-addon">
                                            <span class="icon"><i class="fa fa-pencil"></i></span>
                                        </span>
                                        @Html.TextBoxFor(m => m.Rajiv_Gandhi_Equity_Saving_Schemes, new { @class = "form-control", @placeholder = "Amount", onkeypress = "return checkOnlyNumber(this,event);" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 form-group">
                                <label class="col-sm-8 control-label">Interest On Education Loan </label>
                                <div class="col-md-4">
                                    <div class="input-group input-group-icon">
                                        <span class="input-group-addon">
                                            <span class="icon"><i class="fa fa-pencil"></i></span>
                                        </span>
                                        @Html.TextBoxFor(m => m.Interest_On_Education_Loan, new { @class = "form-control", @placeholder = "Amount", onkeypress = "return checkOnlyNumber(this,event);" })
                                    </div>
                                </div>
                            </div>                            
                            <div class="col-md-6 form-group">
                                <label class="col-sm-8 control-label">Medical Insurance Premium- Parents </label>
                                <div class="col-md-4">
                                    <div class="input-group input-group-icon">
                                        <span class="input-group-addon">
                                            <span class="icon"><i class="fa fa-pencil"></i></span>
                                        </span>
                                        @Html.TextBoxFor(m => m.Medical_Insurance_Premium_Parents, new { @class = "form-control", @placeholder = "Amount", onkeypress = "return checkOnlyNumber(this,event);" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 form-group">
                                <label class="col-sm-8 control-label">Preventive Health Check-Up </label>
                                <div class="col-md-4">
                                    <div class="input-group input-group-icon">
                                        <span class="input-group-addon">
                                            <span class="icon"><i class="fa fa-pencil"></i></span>
                                        </span>
                                        @Html.TextBoxFor(m => m.Preventive_Health_Check_Up, new { @class = "form-control", @placeholder = "Amount", onkeypress = "return checkOnlyNumber(this,event);" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 form-group">
                                <label class="col-sm-8 control-label">Medical Treatment For Dependent Handicap </label>
                                <div class="col-md-4">
                                    <div class="input-group input-group-icon">
                                        <span class="input-group-addon">
                                            <span class="icon"><i class="fa fa-pencil"></i></span>
                                        </span>
                                        @Html.TextBoxFor(m => m.Medical_Treatment_For_Dependent_Handicap, new { @class = "form-control", @placeholder = "Amount", onkeypress = "return checkOnlyNumber(this,event);" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 form-group">
                                <label class="col-sm-8 control-label">Medical Treatment For Specified Disease </label>
                                <div class="col-md-4">
                                    <div class="input-group input-group-icon">
                                        <span class="input-group-addon">
                                            <span class="icon"><i class="fa fa-pencil"></i></span>
                                        </span>
                                        @Html.TextBoxFor(m => m.Medical_Treatment_For_Specified_Disease, new { @class = "form-control", @placeholder = "Amount", onkeypress = "return checkOnlyNumber(this,event);" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 form-group">
                                <label class="col-sm-8 control-label">Interest On Housing Loan </label>
                                <div class="col-md-4">
                                    <div class="input-group input-group-icon">
                                        <span class="input-group-addon">
                                            <span class="icon"><i class="fa fa-pencil"></i></span>
                                        </span>
                                        @Html.TextBoxFor(m => m.Interest_On_Housing_Loan, new { @class = "form-control", @placeholder = "Amount", onkeypress = "return checkOnlyNumber(this,event);" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 form-group">
                                <label class="col-sm-8 control-label">Permanent Physical Disability </label>
                                <div class="col-md-4">
                                    <div class="input-group input-group-icon">
                                        <span class="input-group-addon">
                                            <span class="icon"><i class="fa fa-pencil"></i></span>
                                        </span>
                                        @Html.TextBoxFor(m => m.Permanent_Physical_Disability, new { @class = "form-control", @placeholder = "Amount", onkeypress = "return checkOnlyNumber(this,event);" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 form-group">
                                <label class="col-sm-8 control-label">Medical Insurance Premium- Individual, Spouse And Children </label>
                                <div class="col-md-4">
                                    <div class="input-group input-group-icon">
                                        <span class="input-group-addon">
                                            <span class="icon"><i class="fa fa-pencil"></i></span>
                                        </span>
                                        @Html.TextBoxFor(m => m.Medical_Insurance_Premium_Individual_Spouse_And_Children, new { @class = "form-control", @placeholder = "Amount", onkeypress = "return checkOnlyNumber(this,event);" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 form-group">
                                <label class="col-sm-8 control-label">Medical Treatment For Specified Disease For Senior Citizen </label>
                                <div class="col-md-4">
                                    <div class="input-group input-group-icon">
                                        <span class="input-group-addon">
                                            <span class="icon"><i class="fa fa-pencil"></i></span>
                                        </span>
                                        @Html.TextBoxFor(m => m.Medical_Treatment_For_Specified_Disease_For_Senior_Citizen, new { @class = "form-control", @placeholder = "Amount", onkeypress = "return checkOnlyNumber(this,event);" })
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
                <footer class="panel-footer center">
                    <button type="submit" class="mb-xs mt-xs mr-xs btn btn-success">Save</button>
                    @*<button type="button" onclick="location.href = '@Url.Action("AttendanceLeaveDashboard", "AttLeave", new { area = "HR" })';" class="mb-xs mt-xs mr-xs btn btn-danger">Cancel</button>*@
                </footer>
            </section>
        </div>
    </div>
}

<script type="text/javascript">
    function checkOnlyNumber(evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode;
        if (charCode != 46 && charCode > 31
          && (charCode < 48 || charCode > 57))
            return false;

        return true;
    }
</script>

