﻿@model IEnumerable<eHRMS.Areas.HR.Models.EmployeeInvestment>
@{
    ViewBag.Title = "Employee Investment Details";
    ViewBag.Now = "Payroll Management / Income Tax / Employee Investment Details";
    Layout = "~/Areas/HR/Views/Shared/_LayoutPageHR.cshtml";
}

@if (ViewBag.SuccessMsg != null)
{
    <div class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <strong>Well done!</strong> @ViewBag.SuccessMsg
    </div>
}
@if (ViewBag.ErrorMsg != null)
{
    <div class="alert alert-danger">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <strong>Oh snap!</strong> @ViewBag.ErrorMsg
    </div>
}
<div class="row">
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading">
                <div class="panel-actions">
                    <button type="button" class="mb-xs mt-xs mr-xs btn btn-primary" onclick="location.href = '@Url.Action("Employee_Investment_Add", "HRPayroll", new { area = "HR" })';">Add New</button>
                </div>
                <h2 class="panel-title">Employee Investment Details</h2>
            </header>
            <div class="panel-body">
                <table class="table table-bordered table-striped mb-none" id="datatable-default">
                    <thead>
                        <tr>
                            <th>Emp. Code</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    @if (Model.Count() > 0)
                    {
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr class="gradeC">
                                    <td>@item.Employee_Code</td>
                                    <td>
                                        <a href="@Url.Action("Employee_Investment_Add", "HRPayroll", new { area = "HR", id = HttpUtility.UrlEncode(item.InvestID.ToString()) })"><i class="fa fa-pencil-square-o"></i></a>
                                        |
                                        <a href="" onclick="DeletePermanently(@item.InvestID)"><i class="fa fa-trash-o"></i></a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    }
                </table>
            </div>
        </section>
    </div>
</div>
<script type="text/javascript">
    function DeletePermanently(InvestID) {
        //var id = $("#TypeID").val();
        var id = InvestID;
        $.ajax({
            type: "POST",
            url: "/HRPayroll/DeleteInvestment?InvestID=" + id,
            dataType: "JSON",
            success: function (result) {
                alert("Employee Investment deleted successfully !");
                //window.location.href = '@Url.Action("Employee_Investment", "HRPayroll", new { area = "HR" })';
            }
        });
    }
</script>
