﻿@model eHRMS.Areas.HR.Models.Print_Payslip
@{
    ViewBag.Title = "Print Payslip";
    ViewBag.Now = "Payroll Management / Print Payslip";
    Layout = "~/Areas/HR/Views/Shared/_LayoutPageHR.cshtml";
}


@*@if (ViewBag.SuccessMsg != null)
{
    <div class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <strong>Well done!</strong> @Session["SuccessMsg"] 
    </div>
}*@
@if (Session["ErrorMsg"] != null)
{
    <div class="alert alert-danger">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <strong>Oh snap!</strong> @Session["ErrorMsg"]
    </div>
}

@using (Html.BeginForm("Payslip_Print", "HRPayroll", FormMethod.Post))
{

    <div class="row">
        <div class="col-lg-12">
            <section class="panel">
                <header class="panel-heading">
                    <div class="panel-actions">

                    </div>
                    <h2 class="panel-title">Print Payslip</h2>
                </header>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <label class="col-sm-4 control-label">Month <span style="color:#E04B4A;">*</span></label>
                            <div class="col-sm-8">
                                @Html.DropDownListFor(m => m.Month, new List<SelectListItem>
                                {
                                        new SelectListItem{Text="January", Value="01"},
                                        new SelectListItem{Text="February", Value="02"},
                                        new SelectListItem{Text="March", Value="03"},
                                        new SelectListItem{Text="April", Value="04"},
                                        new SelectListItem{Text="May", Value="05"},
                                        new SelectListItem{Text="June", Value="06"},
                                        new SelectListItem{Text="July", Value="07"},
                                        new SelectListItem{Text="August", Value="08"},
                                        new SelectListItem{Text="September", Value="09"},
                                        new SelectListItem{Text="October", Value="10"},
                                        new SelectListItem{Text="November", Value="11"},
                                        new SelectListItem{Text="December", Value="12"},
                               }, "-- Please Select --", new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-md-6 form-group">
                            <label class="col-sm-4 control-label">Financial Year <span style="color:#E04B4A;">*</span></label>
                            <div class="col-sm-8">
                                @Html.DropDownListFor(m => m.Year, new List<SelectListItem>
                                {
                                        new SelectListItem{Text="2017", Value="2017"},
                                        new SelectListItem{Text="2018", Value="2018"},
                                        new SelectListItem{Text="2019", Value="2019"},
                                        new SelectListItem{Text="2020", Value="2020"},
                                        new SelectListItem{Text="2021", Value="2021"},
                                        new SelectListItem{Text="2022", Value="2022"},
                                        new SelectListItem{Text="2023", Value="2023"},
                                        new SelectListItem{Text="2024", Value="2024"},
                                        new SelectListItem{Text="2025", Value="2025"},
                                        new SelectListItem{Text="2026", Value="2026"},
                                        new SelectListItem{Text="2027", Value="2027"},
                                        new SelectListItem{Text="2028", Value="2028"},
                                        new SelectListItem{Text="2029", Value="2029"},
                                        new SelectListItem{Text="2030", Value="2030"},
                               }, "-- Please Select --", new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <hr class="dotted tall">
                    <div class="row">
                        <div class="form-horizontal">
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Emp. Code <span style="color:#E04B4A;">*</span></label>
                                <div class="col-md-6">
                                    <div class="input-group input-group-icon">
                                        @Html.DropDownListFor(model => model.FK_Employee_Code, ViewBag.Code_List_Employee as IEnumerable<SelectListItem>, "Select Employee Code", new { @class = "form-control populate" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <footer class="panel-footer center">
                    <button formtarget="_blank" type="submit" class="mb-xs mt-xs mr-xs btn btn-success">Print</button>

                </footer>
            </section>
        </div>
    </div>

}

