﻿
@{
    ViewBag.Title = "Assets Dashboard";
    ViewBag.Now = "Assets Management / Dashboard";
    Layout = "~/Areas/HR/Views/Shared/_LayoutPageHR.cshtml";
}
<div class="row">
    <div class="col-md-6 col-lg-6 col-xl-3">
        <a href="@Url.Action("Vendor_Management", "HRAssets", new { area = "HR" })">
            <section class="panel">
                <header class="panel-heading bg-white">
                    <div class="panel-heading-icon bg-primary mt-sm">
                        <i class="fa fa-user-secret"></i>
                    </div>
                </header>
                <div class="panel-body">
                    <h3 class="text-semibold mt-none text-center">Add / View Vendors</h3>
                </div>
            </section>
        </a>
    </div>
    <div class="col-md-6 col-lg-6 col-xl-3">
        <a href="@Url.Action("Assets_Management", "HRAssets", new { area = "HR" })">
            <section class="panel">
                <header class="panel-heading bg-white">
                    <div class="panel-heading-icon bg-primary mt-sm">
                        <i class="fa fa-cube"></i>
                    </div>
                </header>
                <div class="panel-body">
                    <h3 class="text-semibold mt-none text-center">Add / View Assets</h3>
                </div>
            </section>
        </a>
    </div>   
</div>

