﻿@model eHRMS.Areas.HR.Models.Emp_Skills
<script type="text/javascript">
    // This example displays an address form, using the autocomplete feature
    // of the Google Places API to help users fill in the information.

    // This example requires the Places library. Include the libraries=places
    // parameter when you first load the API. For example:
    // <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&libraries=places">

    var placeSearch, PreviousCompanyAddress;
    var componentForm = {
        street_number: 'short_name',
        route: 'long_name',
        locality: 'long_name',
        administrative_area_level_1: 'short_name',
        country: 'long_name',
        postal_code: 'short_name'
    };

    function initAutocomplete() {
        // Create the autocomplete object, restricting the search to geographical
        // location types.
        PreviousCompanyAddress = new google.maps.places.Autocomplete(
            (document.getElementById('PreviousCompanyAddress')),
            { types: ['geocode'] });

        // When the user selects an address from the dropdown, populate the address
        // fields in the form.
        PreviousCompanyAddress.addListener('place_changed', fillInAddress);
    }

    function fillInAddress() {
        // Get the place details from the autocomplete object.
        var place = PreviousCompanyAddress.getPlace();

        for (var component in componentForm) {
            document.getElementById(component).value = '';
            document.getElementById(component).disabled = false;
        }

        // Get each component of the address from the place details
        // and fill the corresponding field on the form.
        for (var i = 0; i < place.PreviousCompanyAddress.length; i++) {
            var addressType = place.address_components[i].types[0];
            if (componentForm[addressType]) {
                var val = place.address_components[i][componentForm[addressType]];
                document.getElementById(addressType).value = val;
            }
        }
    }

    // Bias the autocomplete object to the user's geographical location,
    // as supplied by the browser's 'navigator.geolocation' object.
    function geolocate() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function (position) {
                var geolocation = {
                    lat: position.coords.latitude,
                    lng: position.coords.longitude
                };
                var circle = new google.maps.Circle({
                    center: geolocation,
                    radius: position.coords.accuracy
                });
                Address.setBounds(circle.getBounds());
            });
        }

    }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAwiV5R3XMsrVZKI6NuD7vY4BRqUt9yQQA&libraries=places&callback=initAutocomplete"
        async defer></script>
@if (Model == null)
{
    <p>Please fill data from Add new employee</p>
    return;
}
@using (Html.BeginForm("Edit_Skills_Emp", "HREmployee", FormMethod.Post, new { @class = "form-horizontal" }))
{

    <fieldset>
        <div class="form-group">
            <label class="col-sm-3 control-label">Employee Code <span style="color:#E04B4A;">*</span></label>
            <div class="col-sm-6">
                @Html.HiddenFor(m => m.Employee_Code)
                @Html.DisplayTextFor(m => m.Employee_Code)
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Skills <span style="color:#E04B4A;">*</span></label>
            <div class="col-sm-6">
               
                    @foreach (var item in Model.JobSkill_list)
                    {
                        <label class="check"><input type="checkbox" class="icheckbox " value="@item.Type" name="chkSkill" @item.status /> @item.Type</label>
                    }
                
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Total Experience (Month)</label>
            <div class="col-sm-6">
                <div data-plugin-spinner data-plugin-options='{ "value":0, "min": 0, "max": 360 }'>
                    <div class="input-group" style="width:150px;">
                        @Html.TextBoxFor(m => m.TotalExperience, new { @class = "spinner-input form-control", maxlength = "3", @readonly = "readonly" })
                        @*<input type="text" class="spinner-input form-control" maxlength="3" readonly>*@
                        <div class="spinner-buttons input-group-btn">
                            <button type="button" class="btn btn-default spinner-up">
                                <i class="fa fa-angle-up"></i>
                            </button>
                            <button type="button" class="btn btn-default spinner-down">
                                <i class="fa fa-angle-down"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Previous Company</label>
            <div class="col-sm-6">
                @Html.TextBoxFor(m => m.PreviousCompany, new { @class = "form-control", placeholder = "Last Company" })
                @*<input type="text" class="form-control" placeholder="Last Company">*@
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Worked from</label>
            <div class="col-sm-6">
                <div class="input-daterange input-group" data-plugin-datepicker>
                    <span class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                    </span>
                    @if (Model.WorkedFrom == null)
                    {
                        @Html.TextBoxFor(m => m.WorkedFrom, new { @class = "form-control" })
                    }
                    else
                    {
                        @Html.TextBoxFor(m => m.WorkedFrom, new { @class = "form-control", @value = Model.WorkedFrom.Value.ToShortDateString() })
                    }

                    @*<input type="text" class="form-control" name="start">*@
                    <span class="input-group-addon">to</span>
                    @if (Model.WorkedTo == null)
                    {
                        @Html.TextBoxFor(m => m.WorkedTo, new { @class = "form-control" })
                    }
                    else
                    {
                        @Html.TextBoxFor(m => m.WorkedTo, new { @class = "form-control", @value = Model.WorkedTo.Value.ToShortDateString() })
                    }

                    @*<input type="text" class="form-control" name="end">*@
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Last Drawn Salary</label>
            <div class="col-sm-6">
                @Html.TextBoxFor(m => m.LastDrawnSalary, new { @class = "form-control", placeholder = "Salary", onkeypress = "return checkOnlyNumber(this,event);" })
                @*<input type="text" class="form-control" placeholder="Salary">*@
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Previous Company Address</label>
            <div class="col-sm-6">
                @Html.TextBoxFor(m => m.PreviousCompanyAddress, new { @name = "PreviousCompanyAddress", @class = "form-control", @placeholder = "Enter Address", onfocus = "geolocate()" })
            </div>
        </div>
    </fieldset>
    <footer class="panel-footer center">
        <button type="submit" class="mb-xs mt-xs mr-xs btn btn-success">Update</button>
    </footer>




    <input type="hidden" name="hidedvSkillsCount" id="hidedvSkillsCount" />
    <input id="CompanyRegistrationID" value="@ViewBag.CompanyRegistrationID" type="hidden" />
}




<script type="text/javascript">
    function checkOnlyNumber(evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode;
        if (charCode != 46 && charCode > 31
          && (charCode < 48 || charCode > 57))
            return false;

        return true;
    }
</script>
