﻿@model eHRMS.Areas.HR.Models.Emp_Qual
@if (Model == null)
{
    <p>Please fill data from Add new employee</p>
    return;
}
@using (Html.BeginForm("Edit_Qual_Emp", "HREmployee", FormMethod.Post, new { @class = "form-horizontal" }))
{
    
    <fieldset>
        <div class="form-group">
            <label class="col-sm-3 control-label">Employee Code <span style="color:#E04B4A;">*</span></label>
            <div class="col-sm-6">
                @Html.HiddenFor(m => m.Employee_Code)
                @Html.DisplayTextFor(m => m.Employee_Code)
                @*<select class="form-control populate" required>
                        <option value="0">Please Select</option>
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                    </select>*@
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Highest Degree <span style="color:#E04B4A;">*</span></label>
            <div class="col-sm-6">
                @Html.DropDownListFor(model => model.HighestDegree, ViewBag.Qualification_List as IEnumerable<SelectListItem>, "Select Qualification", new { @class = "form-control populate" })
                @*<select class="form-control populate" required>
                        <option value="0">Please Select</option>
                        <option value="Male">BCA</option>
                        <option value="Female">MCA</option>
                    </select>*@
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">College / University</label>
            <div class="col-sm-6">
                @Html.TextBoxFor(m => m.College_University, new { @class = "form-control", placeholder = "Name of College / University" })
                @*<input type="text" class="form-control" placeholder="Name of College / University">*@
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Marks / Grade (Number only)</label>
            <div class="col-sm-6">
                @Html.TextBoxFor(m => m.Marks_Grade, new { @class = "form-control", placeholder = "Marks / Grade", onkeypress = "return checkOnlyNumber(this,event);" })
                @*<input type="text" class="form-control" placeholder="Marks / Grade">*@
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Course Duration from</label>
            <div class="col-sm-6">
                <div class="input-daterange input-group" data-plugin-datepicker>
                    <span class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                    </span>
                    @if (Model.Duration_from == null)
                    {
                        @Html.TextBoxFor(m => m.Duration_from, new { @class = "form-control" })
                    }
                    else
                    {
                    @Html.TextBoxFor(m => m.Duration_from, new { @class = "form-control" ,@value=Model.Duration_from.Value.ToShortDateString()})
                    }
                    <span class="input-group-addon">to</span>
                    @if (Model.Duration_to == null)
                    {
                        @Html.TextBoxFor(m => m.Duration_to, new { @class = "form-control" })
                    }
                    else
                    {
                        @Html.TextBoxFor(m => m.Duration_to, new { @class = "form-control", @value = Model.Duration_to.Value.ToShortDateString() })
                    }
                    
                    
                  
                    
                </div>
            </div>
        </div>
    </fieldset>
    <footer class="panel-footer center">
        <button type="submit" class="mb-xs mt-xs mr-xs btn btn-success">Update</button>
    </footer>
}
<script type="text/javascript">
    function checkOnlyNumber(evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode;
        if (charCode != 46 && charCode > 31
          && (charCode < 48 || charCode > 57))
            return false;

        return true;
    }
</script>

