﻿@model eHRMS.Areas.HR.Models.Emp_BankDetails
@{
    ViewBag.Title = "Employee Account Add";
    ViewBag.Now = "Employee Management / Employee Account Add";
    Layout = "~/Areas/HR/Views/Shared/_LayoutPageHR.cshtml";
}
@using (Html.BeginForm("Employee_Account_Add", "HREmployee", FormMethod.Post))
{
    if (ViewBag.SuccessMsg != null)
    {
        <div class="alert alert-success">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <strong>Well done!</strong> @ViewBag.SuccessMsg
        </div>
    }
    if (ViewBag.ErrorMsg != null)
    {
        <div class="alert alert-danger">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <strong>Oh snap!</strong> @ViewBag.ErrorMsg
        </div>
    }
    <div class="row">
        <div class="col-lg-12">
            <section class="panel">
                <header class="panel-heading">
                    <div class="panel-actions">
                        <button type="button" class="mb-xs mt-xs mr-xs btn btn-primary" onclick="location.href = '@Url.Action("Employee_Account_List", "HREmployee", new { area = "HR" })';">View All</button>
                        @*<a href="#" class="fa fa-caret-down"></a>*@
                        <!--<a href="#" class="fa fa-times"></a>-->
                    </div>
                    <h2 class="panel-title">Add Employee Account</h2>
                </header>
                <div class="panel-body">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Employee Code <span style="color:#E04B4A;">*</span></label>
                            <div class="col-md-6">
                                <div class="input-group input-group-icon">                                    
                                    @Html.DropDownListFor(model => model.Employee_Code, ViewBag.Code_List_BankAcnt as IEnumerable<SelectListItem>, "Select Employee Code", new { @class = "form-control populate" })
                                    @*<input type="text" class="form-control" placeholder="Account Number" required>*@
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Account Number <span style="color:#E04B4A;">*</span></label>
                            <div class="col-md-6">
                                <div class="input-group input-group-icon">
                                    <span class="input-group-addon">
                                        <span class="icon"><i class="fa fa-pencil"></i></span>
                                    </span>
                                    @Html.TextBoxFor(m => m.AccountNumber, new {@class="form-control", placeholder="Account Number" })
                                    @*<input type="text" class="form-control" placeholder="Account Number" required>*@
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">PAN Number <span style="color:#E04B4A;">*</span></label>
                            <div class="col-md-6">
                                <div class="input-group input-group-icon">
                                    <span class="input-group-addon">
                                        <span class="icon"><i class="fa fa-pencil"></i></span>
                                    </span>
                                    @Html.TextBoxFor(m => m.PAN, new { @class="form-control", placeholder="PAN Number" })                                    
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">AADHAR Number <span style="color:#E04B4A;">*</span></label>
                            <div class="col-md-6">
                                <div class="input-group input-group-icon">
                                    <span class="input-group-addon">
                                        <span class="icon"><i class="fa fa-pencil"></i></span>
                                    </span>
                                    @Html.TextBoxFor(m => m.AADHAR_Number, new { @class = "form-control", placeholder = "AADHAR Number" })
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Nominee Name <span style="color:#E04B4A;">*</span></label>
                            <div class="col-md-6">
                                <div class="input-group input-group-icon">
                                    <span class="input-group-addon">
                                        <span class="icon"><i class="fa fa-pencil"></i></span>
                                    </span>
                                    @Html.TextBoxFor(m => m.NomineeName, new { @class = "form-control", placeholder = "Nominee Name" })
                                    @*<input type="text" class="form-control" placeholder="Nominee Name" required>*@
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Relation with Nominee <span style="color:#E04B4A;">*</span></label>
                            <div class="col-md-6">
                                <div class="input-group input-group-icon">
                                    <span class="input-group-addon">
                                        <span class="icon"><i class="fa fa-pencil"></i></span>
                                    </span>
                                    @Html.TextBoxFor(m => m.RelationwithNominee, new { @class = "form-control", placeholder = "Ex: Mother, Father" })
                                    @*<input type="text" class="form-control" placeholder="Ex: Mother, Father" required>*@
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <footer class="panel-footer center">
                    <button type="submit" class="mb-xs mt-xs mr-xs btn btn-success">Add</button>
                    <button type="button" onclick="location.href = '@Url.Action("Employee_Management", "HREmployee", new { area = "HR" })';" class="mb-xs mt-xs mr-xs btn btn-default">Cancel</button>
                </footer>
            </section>
        </div>
    </div>
}
