﻿@{
    ViewBag.Title = "Employee Management";
    ViewBag.Now = "Employee Management / Dashboard";
    Layout = "~/Areas/HR/Views/Shared/_LayoutPageHR.cshtml";
}

<div class="row">
    <div class="col-md-6 col-lg-6 col-xl-3">
        <a href="@Url.Action("Employee_List", "HREmployee", new { area = "HR" })">
            <section class="panel">
                <header class="panel-heading bg-white">
                    <div class="panel-heading-icon bg-primary mt-sm">
                        <i class="fa fa-black-tie"></i>
                    </div>
                </header>
                <div class="panel-body">
                    <h3 class="text-semibold mt-none text-center">Employee Master</h3>
                </div>
            </section>
        </a>
    </div>
    <div class="col-md-6 col-lg-6 col-xl-3">
        <a href="@Url.Action("Employee_Account_List", "HREmployee", new { area = "HR" })">
            <section class="panel">
                <header class="panel-heading bg-white">
                    <div class="panel-heading-icon bg-primary mt-sm">
                        <i class="fa fa-book"></i>
                    </div>
                </header>
                <div class="panel-body">
                    <h3 class="text-semibold mt-none text-center">Employee Account Details</h3>
                </div>
            </section>
        </a>
    </div>
</div>

<div class="row">
    <div class="col-md-6 col-lg-6 col-xl-3">
        <a href="@Url.Action("ResignRequest_List", "HREmployee", new { area = "HR" })">
            <section class="panel">
                <header class="panel-heading bg-white">
                    <div class="panel-heading-icon bg-primary mt-sm">
                        <i class="fa fa-sign-in"></i>
                    </div>
                </header>
                <div class="panel-body">
                    <h3 class="text-semibold mt-none text-center">Resign Request</h3>
                </div>
            </section>
        </a>
    </div>
    <div class="col-md-6 col-lg-6 col-xl-3">
        <a href="@Url.Action("ResignedEmployee_List", "HREmployee", new { area = "HR" })">
            <section class="panel">
                <header class="panel-heading bg-white">
                    <div class="panel-heading-icon bg-primary mt-sm">
                        <i class="fa fa-sign-out"></i>
                    </div>
                </header>
                <div class="panel-body">
                    <h3 class="text-semibold mt-none text-center">Accepted Resign Request</h3>
                </div>
            </section>
        </a>
    </div>

</div>

<div class="row">
    <div class="col-md-6 col-lg-6 col-xl-3">
        <a href="@Url.Action("Manual_Attendance", "AttLeave", new { area = "HR" })">
            <section class="panel">
                <header class="panel-heading bg-white">
                    <div class="panel-heading-icon bg-primary mt-sm">
                        <i class="fa fa-level-down"></i>
                    </div>
                </header>
                <div class="panel-body">
                    <h3 class="text-semibold mt-none text-center">Manual Attendance Entry</h3>
                </div>
            </section>
        </a>
    </div>
    <div class="col-md-6 col-lg-6 col-xl-3">
        <a href="@Url.Action("Manual_Leave", "AttLeave", new { area = "HR" })">
            <section class="panel">
                <header class="panel-heading bg-white">
                    <div class="panel-heading-icon bg-primary mt-sm">
                        <i class="fa fa-level-up"></i>
                    </div>
                </header>
                <div class="panel-body">
                    <h3 class="text-semibold mt-none text-center">Manual Leave Entry</h3>
                </div>
            </section>
        </a>
    </div>

</div>