﻿@model eHRMS.Areas.HR.Models.Emp_Salary

@using (Html.BeginForm("Employee_Salary", "HREmployee", FormMethod.Post, new { @class = "form-horizontal" }))
{
    <fieldset>
        <div class="form-group">
            <label class="col-sm-3 control-label">Employee Code <span style="color:#E04B4A;">*</span></label>
            <div class="col-sm-6">
                @Html.DropDownListFor(model => model.Employee_Code, ViewBag.Code_List_Salary as IEnumerable<SelectListItem>, "Select Employee Code", new { @class = "form-control populate" })
                @*<select class="form-control populate" required>
                    <option value="0">Please Select</option>
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                </select>*@
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Salary Template <span style="color:#E04B4A;">*</span></label>
            <div class="col-sm-6">
                @Html.DropDownListFor(model => model.FK_PackageID, ViewBag.CTC_List_Salary as IEnumerable<SelectListItem>, "Select Salary Template", new { @class = "form-control populate" })
                @*<input type="text" class="form-control" placeholder="Ammount" required>*@
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">C.T.C <span style="color:#E04B4A;">*</span></label>
            <div class="col-sm-6">
                @Html.TextBoxFor(m => m.CTC, new { @class = "form-control", placeholder = "C.T.C package", onkeypress = "return checkOnlyNumber(this,event);" })
                @*<input type="text" class="form-control" placeholder="C.T.C Package">*@
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Monthly Salary <span style="color:#E04B4A;">*</span></label>
            <div class="col-sm-6">
                @Html.TextBoxFor(m => m.Monthly, new { @class = "form-control", placeholder = "Monthly Salary", onkeypress = "return checkOnlyNumber(this,event);" })
                @*<input type="text" class="form-control" placeholder="C.T.C Package">*@
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">PF Account Number</label>
            <div class="col-sm-6">
                @Html.TextBoxFor(m => m.PFNumber, new {@class="form-control", placeholder="PF Account Number" })
                @*<input type="text" class="form-control" placeholder="PF Account Number">*@
            </div>
        </div>
    </fieldset>
    <footer class="panel-footer center">
        <button type="submit" class="mb-xs mt-xs mr-xs btn btn-success">Save & Next</button>
    </footer>
}
<script type="text/javascript">
    function checkOnlyNumber(evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode;
        if (charCode != 46 && charCode > 31
          && (charCode < 48 || charCode > 57))
            return false;

        return true;
    }
</script>