﻿@model IEnumerable<eHRMS.Areas.HR.Models.Emp_Contact_Basic>
@{
    ViewBag.Title = "Employee List";
    ViewBag.Now = "Employee Management / Employee List";
    Layout = "~/Areas/HR/Views/Shared/_LayoutPageHR.cshtml";
}
@if (ViewBag.SuccessMsg != null)
{
    <div class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <strong>Well done!</strong> @ViewBag.SuccessMsg
    </div>
}
@if (ViewBag.ErrorMsg != null)
{
    <div class="alert alert-danger">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <strong>Oh snap!</strong> @ViewBag.ErrorMsg
    </div>
}
<div class="row">
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading">
                <div class="panel-actions">
                    <button type="button" class="mb-xs mt-xs mr-xs btn btn-primary" onclick="location.href = '@Url.Action("Employee_Add", "HREmployee", new { area = "HR" })';">Add New</button>
                </div>
                <h2 class="panel-title">Employee List</h2>
            </header>
            <div class="panel-body">
                <table class="table table-bordered table-striped mb-none" id="datatable-default">
                    <thead>
                        <tr>
                            <th>Emp. Code</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Number</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    @if (Model.Count() > 0)
                    {
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr class="gradeC">
                                    <td>@item.Employee_Code</td>
                                    <td>@item.Name</td>
                                    <td>@item.Email</td>
                                    <td>@item.Number</td>
                                    <td class="actions">
                                        <a href="@Url.Action("Employee_All_Detail", "HREmployee", new { area = "HR" })" title="View More Detail"><i class="fa fa-eye fa-2x"></i></a>@*|
            <a href="#"><i class="fa fa-pencil-square-o"></i></a>|
            <a href="#"><i class="fa fa-trash-o"></i></a>*@
                                    </td>
                                </tr>
                            }
                        </tbody>
                    }
                </table>
            </div>
        </section>
    </div>
</div>

