﻿@model eHRMS.Areas.HR.Models.Emp_Passport

@using (Html.BeginForm("Employee_Passport_Visa", "HREmployee", FormMethod.Post, new { @class = "form-horizontal" }))
{
    <fieldset>
        <div class="form-group">
            <label class="col-sm-3 control-label">Employee Code <span style="color:#E04B4A;">*</span></label>
            <div class="col-sm-6">
                @Html.DropDownListFor(model => model.Employee_Code, ViewBag.Code_List_Visa as IEnumerable<SelectListItem>, "Select Employee Code", new { @class = "form-control populate" })
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Passport Number</label>
            <div class="col-sm-6">
                @Html.TextBoxFor(m => m.PassportNumber, new {@class="form-control", placeholder="Passport Number" })
                @*<input type="text" class="form-control" placeholder="Passport Number">*@
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Issuing Authority</label>
            <div class="col-sm-6">
                @Html.TextBoxFor(m => m.IssuingAuthority, new { @class = "form-control", placeholder = "Issuing Authority" })
                @*<input type="text" class="form-control" placeholder="Issuing Authority">*@
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Issue from</label>
            <div class="col-sm-6">
                <div class="input-daterange input-group" data-plugin-datepicker>
                    <span class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                    </span>
                    @Html.TextBoxFor(m => m.IssueFrom, new { @class = "form-control" })
                    @*<input type="text" class="form-control" name="start">*@
                    <span class="input-group-addon">to</span>
                    @Html.TextBoxFor(m => m.IssueTo, new { @class = "form-control" })
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Citizenship</label>
            <div class="col-sm-6">
                @Html.TextBoxFor(m => m.Citizenship, new { @class = "form-control", placeholder = "Citizenship" })
                @*<input type="text" class="form-control" placeholder="Citizenship">*@
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Visa Number</label>
            <div class="col-sm-6">
                @Html.TextBoxFor(m => m.VisaNumber, new { @class = "form-control", placeholder = "Visa Number" })
                @*<input type="text" class="form-control" placeholder="Visa Number">*@
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Type of Visa</label>
            <div class="col-sm-6">
                @Html.TextBoxFor(m => m.TypeofVisa, new { @class = "form-control", placeholder = "Type of Visa" })
                @*<input type="text" class="form-control" placeholder="Type of Visa">*@
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Issue from</label>
            <div class="col-sm-6">
                <div class="input-daterange input-group" data-plugin-datepicker>
                    <span class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                    </span>
                    @Html.TextBoxFor(m => m.VisaValidFrom, new { @class = "form-control" })
                    @*<input type="text" class="form-control" name="start">*@
                    <span class="input-group-addon">to</span>
                    @Html.TextBoxFor(m => m.VisaValidTo, new { @class = "form-control" })
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Citizenship</label>
            <div class="col-sm-6">
                @Html.TextBoxFor(m => m.VisaCitizenship, new { @class = "form-control", placeholder = "Citizenship" })
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Remarks</label>
            <div class="col-sm-6">
                @Html.TextAreaFor(m => m.Remarks, new { @class = "form-control", rows = "3" })
            </div>
        </div>
    </fieldset>
    <footer class="panel-footer center">
        <button type="submit" class="mb-xs mt-xs mr-xs btn btn-success">Save & Next</button>
    </footer>
}
