﻿@{
    ViewBag.Title = "All Employee Detail";
    ViewBag.Now = "Employee Management / All Employee Detail";
    Layout = "~/Areas/HR/Views/Shared/_LayoutPageHR.cshtml";
    ViewBag.faSize = "fa-3x";
}

<div class="row">
    <div class="col-md-12">
        <div class="tabs ">
            <ul class="nav nav-tabs nav-justified ">

                <li class="active ">
                    <a href="#contact" data-toggle="tab" title="Contact & Basic"><i class="fa fa-address-card @ViewBag.faSize"></i> @*Contact & Basic*@  </a>
                </li>
                <li>
                    <a href="#qualification" data-toggle="tab"><i class="fa fa-list-alt @ViewBag.faSize "></i> @*Education &<br /> Qualification*@ </a>
                </li>
                <li>
                    <a href="#skills" data-toggle="tab"><i class="fa fa-stack-exchange @ViewBag.faSize"></i> @*Skills & Employment*@   </a>
                </li>
                <li>
                    <a href="#joining" data-toggle="tab"><i class="fa fa-calendar @ViewBag.faSize"></i> @*Probation & Joining*@   </a>
                </li>
                <li>
                    <a href="#salary" data-toggle="tab"><i class="fa fa-money @ViewBag.faSize "></i> @*Salary & Statutory*@   </a>
                </li>
                <li>
                    <a href="#passport" data-toggle="tab"><i class="fa fa-cc-visa @ViewBag.faSize"></i> @*Passport & Visa*@</a>
                </li>
                <li>
                    <a href="#doc" data-toggle="tab"><i class="fa fa-file-text-o @ViewBag.faSize"></i> @*Upload Documents*@</a>
                </li>
            </ul>
            <div class="tab-content">
                <div id="contact" class="tab-pane active">
                    <p><span class="highlight">Contact & Basic</span></p>
                    @Html.Action("View_ContntactDetail")
                </div>
                <div id="qualification" class="tab-pane">
                    <p><span class="highlight">Education & Qualification</span></p>
                    @Html.Action("View_QulaificationDetail")
                </div>
                <div id="skills" class="tab-pane">
                    <p><span class="highlight">Skills & Employment</span></p>
                    @Html.Action("View_SkillsNEmployement")
                </div>
                <div id="joining" class="tab-pane">
                    <p><span class="highlight">Probation & Joining</span></p>
                    @Html.Action("View_ProbationNJoining")
                </div>
                <div id="salary" class="tab-pane">
                    <p><span class="highlight">Salary & Statutory</span></p>
                    @Html.Action("View_SalaryNSatutary")
                </div>
                <div id="passport" class="tab-pane">
                    <p><span class="highlight">Passport & Visa</span></p>
                    @Html.Action("View_PassportNVisa")
                </div>
                <div id="doc" class="tab-pane">
                    <p><span class="highlight">Upload Documents</span></p>
                    @Html.Action("View_UploadDocuments")
                </div>

            </div>
        </div>
    </div>
</div>

<script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
@*<script src="//cdn.datatables.net/buttons/1.5.0/js/buttons.flash.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/pdfmake.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/vfs_fonts.js"></script>
<script src="//cdn.datatables.net/buttons/1.5.0/js/buttons.flash.min.js"></script>
<script src="//cdn.datatables.net/buttons/1.5.0/js/buttons.html5.min.js"></script>
<script src="//cdn.datatables.net/buttons/1.5.0/js/buttons.print.min.js"></script>*@




<script type="text/javascript">
    $(document).ready(function () {
        $('#Emp_Qual').DataTable();
        $('#Emp_Skills').DataTable();
        $('#Emp_Joining').DataTable();
        $('#Emp_Salary').DataTable();
        $('#Emp_Passport').DataTable();
        $('#Emp_Documents').DataTable();

    });   
</script>
