﻿@model IEnumerable<eHRMS.Areas.Employee.Models.Emp_Resign>
@{
    ViewBag.Title = "Resigned Employee";
    ViewBag.Now = "Employee Management / Resigned Employee List";
    Layout = "~/Areas/HR/Views/Shared/_LayoutPageHR.cshtml";
}
@if (ViewBag.SuccessMsg != null)
{
    <div class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <strong>Well done!</strong> @ViewBag.SuccessMsg
    </div>
}
@if (ViewBag.ErrorMsg != null)
{
    <div class="alert alert-danger">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <strong>Oh snap!</strong> @ViewBag.ErrorMsg
    </div>
}
<div class="row">
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading">
                <div class="panel-actions">

                    @*<a href="#" class="fa fa-caret-down"></a>*@
                    <!--<a href="#" class="fa fa-times"></a>-->
                </div>
                <h2 class="panel-title">Resigned Employee List</h2>
            </header>
            <div class="panel-body">
                <table class="table table-bordered table-striped mb-none" id="datatable-default">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Number</th>
                            <th>Department</th>
                            <th>Designation</th>
                            <th>Reason</th>
                            <th>Resign Date</th>
                        </tr>
                    </thead>
                    @if (Model.Count() > 0)
                    {
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr class="gradeX">
                                    <td>@item.Name</td>
                                    <td>@item.Email</td>
                                    <td>@item.Number</td>
                                    <td>@item.Department</td>
                                    <td>@item.Designation</td>
                                    <td>@item.Reason</td>
                                    <td>@item.ResignDate.Value.ToString("dd-MM-yyyy")</td>
                                </tr>
                            }
                        </tbody>
                    }
                </table>
            </div>
        </section>
    </div>
</div>
