﻿@model eHRMS.Areas.HR.Models.Emp_Qual
<table class="table table-bordered table-striped table-condensed mb-none " id="Emp_Qual">
    <thead>
        <tr>
            <th>Emp. Code</th>
            <th>College/Univercity Name </th>
            <th>Duration From</th>
            <th>Duration To</th>
            <th>Marks Grade</th>
            <th>Highest Degree</th>
            @*<th>Actions</th>*@
        </tr>
    </thead>
    @if (Model.Emp_Qual_list.Count() > 0)
    {
        <tbody>
            @foreach (var item in Model.Emp_Qual_list)
            {
                <tr class="gradeC">
                    <td>@item.Employee_Code</td>
                    <td>@item.College_University</td>
                    @if (item.Duration_from.HasValue)
                    {
                        <td>@item.Duration_from.Value.ToString("dd/MM/yyyy")</td>
                    }
                    else
                    {
                        <td>@item.Duration_from</td>
                    }
                    @if (item.Duration_from.HasValue)
                    {
                        <td>@item.Duration_to.Value.ToString("dd/MM/yyyy")</td>
                    }
                    else
                    {
                        <td>@item.Duration_to</td>
                    }

                    <td>@item.Marks_Grade</td>
                    <td>@item.HighestDegree</td>


                    @*<td class="actions">
                        <a href="@Url.Action("Employee_All_Detail", "HREmployee", new { area = "HR" })"><i class="fa fa-pencil"></i></a>
                    </td>*@
                </tr>
            }
        </tbody>
    }
</table>
