﻿@model eHRMS.Areas.HR.Models.Emp_Documents
<table class="table table-bordered table-striped table-condensed mb-none " id="Emp_Documents">
    <thead>
        <tr>
            <th>Emp. Code</th>
            <th>CTC</th>
            <th>Monthly</th>
            <th>PFNumber</th>
            @*<th>Actions</th>*@
        </tr>
    </thead>
    @if (Model.Emp_Documents_List.Count() > 0)
    {
        <tbody>
            @foreach (var item in Model.Emp_Documents_List)
            {
                <tr class="gradeC">
                    <td>@item.Employee_Code</td>
                    <td>@item.DocName</td>
                    <td>@item.DocPath</td>
                    <td>@item.DocType</td>
                    @*<td class="actions">
                        <a href="@Url.Action("Employee_All_Detail", "HREmployee", new { area = "HR" })"><i class="fa fa-pencil"></i></a>
                    </td>*@
                </tr>
            }
        </tbody>
    }
</table>
