﻿@model IEnumerable<eHRMS.Areas.Employee.Models.AttendanceRequest>

<div class="row">
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading">
                <div class="panel-actions">
                    @*<button type="button" class="mb-xs mt-xs mr-xs btn btn-primary" onclick="location.href = '@Url.Action("LeaveRequest", "EmployeeDashboard", new { area = "Employee" })';">Request New</button>*@
                </div>
                <h2 class="panel-title">Attendance Request Status</h2>
            </header>
            <div class="panel-body">
                <table class="table table-bordered table-striped mb-none" id="datatable-default">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>In time</th>
                            <th>Out time</th>
                            <th>Remarks</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    @if (Model.Count() > 0)
                    {
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr class="gradeX">

                                    <td>@item.Date.Value.ToString("dd-MM-yyyy")</td>
                                    <td>@item.InTime</td>
                                    <td>@item.OutTime</td>
                                    <td>@item.Remarks</td>
                                    @if (item.IsApproved != null)
                                    {
                                        <td>@(Convert.ToBoolean(item.IsApproved) ? "APPROVED" : "REJECTED")</td>
                                    }
                                    else
                                    {
                                        <td>PENDING</td>
                                    }
                                </tr>
                            }
                        </tbody>
                    }
                </table>
            </div>
        </section>
    </div>
</div>
