﻿@model  eHRMS.Areas.Employee.Models.Emp_TaskModel
@{
    ViewBag.Title = "GenerateTask";
    ViewBag.Now = "Dashboard / GenerateTask";
    Layout = "~/Areas/Employee/Views/Shared/_LayoutPageEmployee.cshtml";
}





    @if (ViewBag.SuccessMsg != null)
    {
<div class="alert alert-success">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
    <strong>Well done!</strong> @ViewBag.SuccessMsg
</div>
    }
    @if (ViewBag.ErrorMsg != null)
    {
<div class="alert alert-danger">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
    <strong>Oh snap!</strong> @ViewBag.ErrorMsg
</div>
    }
<div class="row">
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading">
                <div class="panel-actions">
                    @*<button type="button" class="mb-xs mt-xs mr-xs btn btn-primary" onclick="location.href = '@Url.Action("AttendanceHistory", "EmployeeDashboard", new { area = "Employee" })';">Attendance History</button>*@
                </div>
                <h2 class="panel-title">Add Task</h2>
            </header>
            <div class="panel-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        @using (Html.BeginForm("GenerateTask", "EmployeeDashboard", FormMethod.Post))
                        {
                            <label class="col-md-3 control-label">Task Name <span style="color:#E04B4A;">*</span></label>
                            <div class="col-md-6">
                                
                                <input class="form-control" data-val="true" data-val-required="The field is required." id="TaskName" name="TaskName" type="text" value="">
                                <p>   <button type="submit" class="mb-xs mt-xs mr-xs btn btn-success">Save</button></p>

                                
                            </div>

                        }


                    </div>
                </div>
            </div>
            <footer class="panel-footer center">

                <table class="table table-bordered table-striped mb-none" id="datatable-default">
                    <thead>
                        <tr>
                            <th>Task Name</th>
                        </tr>
                    </thead>
                   <tbody>
                            @foreach (var item in ViewBag.TaskList )
                            {
                                <tr class="text-left" >
                                    <td>@item.TaskName</td>
                                </tr>
                            }
                        </tbody>
                   
                </table>

            </footer>
        </section>


    </div>
</div>



