﻿

@model eHRMS.Areas.Employee .Models.EMP_Print_Payslip 
@{
    ViewBag.Title = "Print Salary slip-" + @Model.Month + "-" + @Model.Year + @Model.FK_Employee_Code;
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>@ViewBag.Title</title>
    <!-- Web Fonts  -->
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet" type="text/css">

    <!-- Vendor CSS -->
    <link rel="stylesheet" href="/Content/assets/vendor/bootstrap/css/bootstrap.css" />

    <!-- Invoice Print Style -->
    <link rel="stylesheet" href="/Content/assets/stylesheets/invoice-print.css" />
</head>
<body>
    <div class="invoice">
        <header class="clearfix">
            <div class="row">
                <div class="col-sm-6 mt-md">
                    <div class="ib">
                        <img style="width:20%;" src="~/Content/hrms_images/CompanyBanner/@Model.BannerImagePath" alt="Company Logo" />
                    </div>
                    <h4 class="h4 mt-none mb-sm text-dark text-bold">Salary Slip ID</h4>
                    <h4 class="h4 m-none text-dark text-bold">#@Model.FK_Employee_Code/@Model.Month-@Model.Year</h4>
                </div>
                <div class="col-sm-6 text-right mt-md mb-md">
                    @*<div class="ib">
                            <img style="width:15%;" src="/Content/assets/images/logo.jpg" alt="Company Logo" />
                        </div>*@
                    <address class="ib mr-xlg">
                        @Model.CompanyName
                        <br />
                        @Model.CompanyAddress
                        <br />
                        @Model.CompanyWebsite
                    </address>
                </div>
            </div>
        </header>
        <div class="bill-info">
            <div class="row">
                <h6 class="center" style="color:black;font-weight:bold;">Salary Slip for</h6>
                <div class="col-md-6">
                    <div class="bill-to">
                        <address>
                            @Model.EmployeeName (@Model.FK_Employee_Code)
                            <br />
                            @Model.EmployeeEmail
                            <br />
                            @Model.EmployeeNumber
                        </address>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="bill-data text-right">
                        <p class="mb-none">
                            <span style="color:black;font-weight:bold;">Salary of :</span>
                            <span class="value">@Model.Month-@Model.Year</span>
                        </p>
                        <p class="mb-none">
                            <span style="color:black;font-weight:bold;">Generated On :</span>
                            <span class="value">@Model.CreatedOn.Value.ToString("dd-MM-yyyy")</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        @Html.Action("Salary_Slip_Components", "EmployeeDashboard", new { area = "Employee", Model })

        <div class="invoice-summary">
            <div class="row">
                <div class="col-sm-8">
                    <h6>Amount in words : <span>@Model.AmountInWords</span></h6>
                </div>
                <div class="col-sm-4">
                    <table class="table h5">
                        <tbody>
                            <tr class="b-top-none">
                                <td colspan="2">Total Earnings</td>
                                <td class="text-left">@Model.TotalEarnings</td>
                            </tr>
                            <tr>
                                <td colspan="2">Total Deduction</td>
                                <td class="text-left">@Model.TotalDeduction</td>
                            </tr>
                            <tr class="h4">
                                <td colspan="2">Net Amount</td>
                                <td class="text-left">@Model.NetAmount</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
    <h6>Generated by eHRMS | Powered by eStar Software Solution Pvt. Ltd.</h6>

    <script>
        window.print();
    </script>
</body>
</html>


