﻿
@model IEnumerable<eHRMS.Areas.Employee.Models.Emp_TrackAtt>
@if (ViewBag.SuccessMsg != null)
{
    <div class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <strong>Well done!</strong> @ViewBag.SuccessMsg
    </div>
}
@if (ViewBag.ErrorMsg != null)
{
    <div class="alert alert-danger">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <strong>Oh snap!</strong> @ViewBag.ErrorMsg
    </div>
}
<hr class="dotted tall">
<table class="table table-bordered table-striped mb-none" id="datatable-default">
    <thead>
        <tr>
            <th>Date</th>
            <th>In Time</th>
            <th>Out Time</th>
            <th>Working hours</th>
        </tr>
    </thead>
    @if (Model.Count() > 0 && Model != null)
    {
        <tbody>
            @foreach (var item in Model)
            {
                <tr class="gradeC">
                    <td>@item.Date.Value.ToString("dd-MM-yyyy")</td>
                    <td>@item.InTime</td>
                    <td>@item.OutTime</td>
                    <td>@item.WorkingHours</td>
                </tr>
            }
        </tbody>
    }
</table>

