﻿@using (Html.BeginForm("Upload_Picture", "EmployeeDashboard", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal" }))
{
    <div class="form-group">
        <label class="col-md-3 control-label">Banner Image</label>
        <div class="col-md-9">
            <div class="fileupload fileupload-new" data-provides="fileupload">
                <p>
                    <input id="file" type="hidden" value="" name="file">
                    <div class="uneditable-input">
                        <i class="fa fa-file fileupload-exists"></i>
                        <span class="fileupload-preview"></span>
                    </div>
                </p>
                <div class="input-append">
                    
                    <span class="btn btn-default btn-file">
                        
                        <input id="file" type="file" name="file" style="width:90px;">
                    </span>
                    <a href="#" class="btn btn-default fileupload-exists" data-dismiss="fileupload">Remove</a>
                </div>
            </div>
        </div>
    </div>
    <footer class="panel-footer center">
        <button type="submit" class="mb-xs mt-xs mr-xs btn btn-success">Upload</button>
    </footer>    
}
