﻿@model IEnumerable<eHRMS.Areas.Employee.Models.Emp_Resign>
@{
    ViewBag.Title = "Resign Request Status";
    ViewBag.Now = "Dashboard / Resign Request Status";
    Layout = "~/Areas/Employee/Views/Shared/_LayoutPageEmployee.cshtml";
}

@if (ViewBag.SuccessMsg != null)
{
    <div class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <strong>Well done!</strong> @ViewBag.SuccessMsg
    </div>
}
@if (ViewBag.ErrorMsg != null)
{
    <div class="alert alert-danger">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <strong>Oh snap!</strong> @ViewBag.ErrorMsg
    </div>
}
<div class="row">
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading">
                <div class="panel-actions">
                    <button type="button" class="mb-xs mt-xs mr-xs btn btn-primary" onclick="location.href = '@Url.Action("ResignRequest", "EmployeeDashboard", new { area = "Employee" })';">Request Again</button>
                </div>
                <h2 class="panel-title">Resign Request Status</h2>
            </header>
            <div class="panel-body">
                <table class="table table-bordered table-striped mb-none" id="datatable-default">
                    <thead>
                        <tr>
                            <th>Applied On</th>
                            <th>Notice Period</th>
                            <th>Status</th>
                            <th>Approved / Rejected By</th>
                            <th>Approved / rejected On</th>
                            <th>Resign Date</th>
                        </tr>
                    </thead>
                    @if (Model.Count() > 0)
                    {
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr class="gradeX">
                                    <td>@item.CreatedOn.Value.ToString("dd-MM-yyyy")</td>
                                    <td>@item.NoticePeriod days</td>                                                                        
                                    @if (item.IsAccepted != null)
                                    {
                                        <td>@(Convert.ToBoolean(item.IsAccepted) ? "APPROVED" : "REJECTED")</td>
                                        <td>@item.UpdatedBy</td>
                                        <td>@item.UpdatedOn.Value.ToString("dd-MM-yyyy")</td>                                        
                                    }
                                    else
                                    {
                                        <td>PENDING</td>
                                        <td>No response yet !</td>
                                        <td>Approve / Rejection date !</td>                                        
                                    }
                                    @if (item.ResignDate != null)
                                    {
                                        <td>@item.ResignDate.Value.ToString("dd-MM-yyyy")</td>
                                    }
                                    else
                                    {
                                        <td>Approve date + @item.NoticePeriod days</td>
                                    }
                                </tr>
                            }
                        </tbody>
                    }
                </table>
            </div>
        </section>
    </div>
</div>

