﻿@model IEnumerable<eHRMS.Areas.HR.Models.JobCategory>
@{
    ViewBag.Title = "Category Details";
    ViewBag.Now = "Job Management / Category Details";
    Layout = "~/Areas/HR/Views/Shared/_LayoutPageHR.cshtml";
}
@if (ViewBag.SuccessMsg != null)
{
    <div class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <strong>Well done!</strong> @ViewBag.SuccessMsg
    </div>
}
@if (ViewBag.ErrorMsg != null)
{
    <div class="alert alert-danger">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <strong>Oh snap!</strong> @ViewBag.ErrorMsg
    </div>
}
<div class="row">
    <div class="col-lg-12">

        <section class="panel">
            <header class="panel-heading">
                <div class="panel-actions">
                    <button type="button" class="mb-xs mt-xs mr-xs btn btn-primary" onclick="location.href = '@Url.Action("Job_Management_Category_Details_Add", "HRJob", new { area = "HR" })';">Add New</button>
                </div>
                <h2 class="panel-title">Category Details</h2>
            </header>
            <div class="panel-body">
                <table class="table table-bordered table-striped mb-none" id="datatable-default">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Description</th>
                            <th>OT Multiply Value</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    @if (Model.Count() > 0)
                    {
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr class="gradeC">
                                    <td>@item.Name</td>
                                    <td>@item.Description</td>
                                    <td>@item.OTMultipllyValue</td>
                                    <td>
                                        <a href="@Url.Action("Job_Management_Category_Details_Add", "HRJob", new { area = "HR", id = HttpUtility.UrlEncode(item.CategoryID.ToString()) })"><i class="fa fa-pencil-square-o"></i></a>
                                        |
                                        <a href="" onclick="DeletePermanently(@item.CategoryID)"><i class="fa fa-trash-o"></i></a>
                                        @*<input id="CategoryID" value="@item.CategoryID" type="hidden" />*@
                                    </td>
                                </tr>
                            }
                        </tbody>
                    }
                </table>
            </div>
        </section>
    </div>
</div>
<script type="text/javascript">
    function DeletePermanently(ContractPolicyID) {
        var id = CategoryID;
        $.ajax({
            type: "POST",
            url: "/HRJob/DeleteCategory?CategoryID=" + id,
            dataType: "JSON",
            success: function (result) {
                alert("Category deleted successfully !");
            }
        });
    }
</script>
