﻿@model IEnumerable<eHRMS.Areas.HR.Models.LeavePolicy>
@{
    ViewBag.Title = "Employee Resign Policy";
    ViewBag.Now = "Job Management / Employee Resign Policy";
    Layout = "~/Areas/HR/Views/Shared/_LayoutPageHR.cshtml";
}
@if (ViewBag.SuccessMsg != null)
{
    <div class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <strong>Well done!</strong> @ViewBag.SuccessMsg
    </div>
}
@if (ViewBag.ErrorMsg != null)
{
    <div class="alert alert-danger">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <strong>Oh snap!</strong> @ViewBag.ErrorMsg
    </div>
}
<div class="row">
    <div class="col-lg-12">

        <section class="panel">
            <header class="panel-heading">
                <div class="panel-actions">
                    <button type="button" class="mb-xs mt-xs mr-xs btn btn-primary" onclick="location.href = '@Url.Action("Job_Management_Employee_Leave_Add", "HRJob", new { area = "HR" })';">Add New</button>
                </div>
                <h2 class="panel-title">Employee Resign Policy</h2>
            </header>
            <div class="panel-body">
                <table class="table table-bordered table-striped mb-none" id="datatable-default">
                    <thead>
                        <tr>
                            <th>Category</th>
                            <th>Notice Period</th>
                            <th>Effective From</th>
                            <th>Applicable To</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    @if (Model.Count() > 0)
                    {
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr class="gradeC">
                                    <td>@item.CategoryName</td>
                                    <td>@item.NoticePeriod Days</td>
                                    <td>@item.EffectiveDate.Value.ToString("dd-MM-yyy")</td>
                                    <td>@item.ApplicableTo</td>
                                    <td>
                                        <a href="@Url.Action("Job_Management_Employee_Leave_Add", "HRJob", new { area = "HR", id = HttpUtility.UrlEncode(item.LeavePolicyID.ToString()) })"><i class="fa fa-pencil-square-o"></i></a>
                                        |
                                        <a href="" onclick="DeletePermanently(@item.LeavePolicyID)"><i class="fa fa-trash-o"></i></a>
                                        @*<input id="LeavePolicyID" value="@item.LeavePolicyID" type="hidden" />*@
                                    </td>
                                </tr>
                            }
                        </tbody>
                    }
                </table>
            </div>
        </section>
    </div>
</div>

<script type="text/javascript">
    function DeletePermanently(LeavePolicyID) {
        var id = LeavePolicyID;
        $.ajax({
            type: "POST",
            url: "/HRJob/DeleteLeavePolicy?LeavePolicyID=" + id,
            dataType: "JSON",
            success: function (result) {
                alert("Resign Policy deleted successfully !");
            }
        });
    }
</script>