﻿@model IEnumerable<eHRMS.Areas.HR.Models.ProbationPolicy>
@{
    ViewBag.Title = "Probation Policy";
    ViewBag.Now = "Job Management / Probation Policy";
    Layout = "~/Areas/HR/Views/Shared/_LayoutPageHR.cshtml";
}

@if (ViewBag.SuccessMsg != null)
{
    <div class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <strong>Well done!</strong> @ViewBag.SuccessMsg
    </div>
}
@if (ViewBag.ErrorMsg != null)
{
    <div class="alert alert-danger">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <strong>Oh snap!</strong> @ViewBag.ErrorMsg
    </div>
}
<div class="row">
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading">
                <div class="panel-actions">
                    <button type="button" class="mb-xs mt-xs mr-xs btn btn-primary" onclick="location.href = '@Url.Action("Job_Management_Probation_Policy_Add", "HRJob", new { area = "HR" })';">Add New</button>
                </div>
                <h2 class="panel-title">Probation Policy</h2>
            </header>
            <div class="panel-body">
                <table class="table table-bordered table-striped mb-none" id="datatable-default">
                    <thead>
                        <tr>
                            <th>Category</th>
                            <th>Duration</th>
                            <th>Is Extendable</th>
                            <th>Resign Applicable</th>
                            <th>Reminder</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    @if (Model.Count() > 0)
                    {
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr class="gradeC">
                                    <td>@item.Category</td>
                                    <td>@item.Duration</td>
                                    <td>@(Convert.ToBoolean(item.PeriodExtendable) ? "YES" : "NO")</td>
                                    <td>@(Convert.ToBoolean(item.ResignApplicable) ? "YES" : "NO")</td>
                                    <td>@item.ConfirmationReminder</td>
                                    <td>
                                        <a href="@Url.Action("Job_Management_Probation_Policy_Add", "HRJob", new { area = "HR", id = HttpUtility.UrlEncode(item.ProbationPolicyID.ToString()) })"><i class="fa fa-pencil-square-o"></i></a>
                                        |
                                        <a href="" onclick="DeletePermanently(@item.ProbationPolicyID)"><i class="fa fa-trash-o"></i></a>
                                        @*<input id="ProbationPolicyID" value="@item.ProbationPolicyID" type="hidden" />*@
                                    </td>
                                </tr>
                            }
                        </tbody>
                    }
                </table>
            </div>
        </section>
    </div>
</div>
<script type="text/javascript">
    function DeletePermanently(ProbationPolicyID) {
        var id = ProbationPolicyID;
        $.ajax({
            type: "POST",
            url: "/HRJob/DeletePPolicy?ProbationPolicyID=" + id,
            dataType: "JSON",
            success: function (result) {
                alert("Probation Policy deleted successfully !");
            }
        });
    }
</script>


