﻿@model eHRMS.Areas.HR.Models.ContractualPolicy
@{
    ViewBag.Title = "Add Contractual Policy";
    ViewBag.Now = "Job Management / Add Probation Policy";
    Layout = "~/Areas/HR/Views/Shared/_LayoutPageHR.cshtml";
}

@using (Html.BeginForm("Job_Management_Contractual_Policy_Add", "HRJob", FormMethod.Post))
{
    if (ViewBag.SuccessMsg != null)
    {
        <div class="alert alert-success">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <strong>Well done!</strong> @ViewBag.SuccessMsg
        </div>
    }
    if (ViewBag.ErrorMsg != null)
    {
        <div class="alert alert-danger">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <strong>Oh snap!</strong> @ViewBag.ErrorMsg
        </div>
    }
    <div class="row">
        <div class="col-lg-12">
            <section class="panel">
                <header class="panel-heading">
                    <div class="panel-actions">
                        <button type="button" class="mb-xs mt-xs mr-xs btn btn-primary" onclick="location.href = '@Url.Action("Job_Management_Contractual_Policy", "HRJob", new { area = "HR" })';">View All</button>
                        @*<a href="#" class="fa fa-caret-down"></a>*@
                        <!--<a href="#" class="fa fa-times"></a>-->
                    </div>
                    <h2 class="panel-title">Add Contractual Policy</h2>
                </header>
                <div class="panel-body">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="col-md-3 control-label">Name <span style="color:#E04B4A;">*</span></label>
                            <div class="col-md-6">
                                <div class="input-group input-group-icon">
                                    <span class="input-group-addon">
                                        <span class="icon"><i class="fa fa-pencil"></i></span>
                                    </span>
                                    @Html.TextBoxFor(m => m.Name, new { @class = "form-control", placeholder = "Policy Name" })
                                    @*<input type="text" class="form-control" placeholder="Duration of Probation Period">*@
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Duration of Policy <span style="color:#E04B4A;">*</span></label>
                            <div class="col-md-6">
                                <div class="input-group input-group-icon">
                                    <span class="input-group-addon">
                                        <span class="icon"><i class="fa fa-calendar"></i></span>
                                    </span>
                                    @Html.TextBoxFor(m => m.Duration, new { @class = "form-control", placeholder = "Duration of Probation Period", onkeypress = "return checkOnlyNumber(this,event);" })
                                    @*<input type="text" class="form-control" placeholder="Duration of Probation Period">*@
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="textareaDefault">Description <span style="color:#E04B4A;">*</span></label>
                            <div class="col-md-6">
                                @Html.TextAreaFor(m => m.Description, new { @class = "form-control", rows = "3" })
                                @*<textarea class="form-control" rows="3" id="textareaDefault" style="margin-top: 0px; margin-bottom: 0px; height: 74px;"></textarea>*@
                            </div>
                        </div>
                    </div>
                </div>
                <footer class="panel-footer center">
                    <button type="submit" class="mb-xs mt-xs mr-xs btn btn-success">Add</button>
                    <button type="button" onclick="location.href = '@Url.Action("Job_Management", "HRJob", new { area = "HR" })';" class="mb-xs mt-xs mr-xs btn btn-default">Cancel</button>
                </footer>
            </section>
        </div>
    </div>
}
<script type="text/javascript">
    function checkOnlyNumber(evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode;
        if (charCode != 46 && charCode > 31
          && (charCode < 48 || charCode > 57))
            return false;

        return true;
    }
</script>

