﻿@model eHRMS.Areas.HR.Models.CompanyLocation
@{
    ViewBag.Title = "Company Location";
    ViewBag.Now = "Company Management / Add Company Location";
    Layout = "~/Areas/HR/Views/Shared/_LayoutPageHR.cshtml";
}
<script type="text/javascript">
    // This example displays an address form, using the autocomplete feature
    // of the Google Places API to help users fill in the information.

    // This example requires the Places library. Include the libraries=places
    // parameter when you first load the API. For example:
    // <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&libraries=places">

    var placeSearch, Address;
    var componentForm = {
        street_number: 'short_name',
        route: 'long_name',
        locality: 'long_name',
        administrative_area_level_1: 'short_name',
        country: 'long_name',
        postal_code: 'short_name'
    };

    function initAutocomplete() {
        // Create the autocomplete object, restricting the search to geographical
        // location types.
        Address = new google.maps.places.Autocomplete(
            (document.getElementById('Address')),
            { types: ['geocode'] });

        // When the user selects an address from the dropdown, populate the address
        // fields in the form.
        Address.addListener('place_changed', fillInAddress);
    }

    function fillInAddress() {
        // Get the place details from the autocomplete object.
        var place = Address.getPlace();

        for (var component in componentForm) {
            document.getElementById(component).value = '';
            document.getElementById(component).disabled = false;
        }

        // Get each component of the address from the place details
        // and fill the corresponding field on the form.
        for (var i = 0; i < place.address_components.length; i++) {
            var addressType = place.address_components[i].types[0];
            if (componentForm[addressType]) {
                var val = place.address_components[i][componentForm[addressType]];
                document.getElementById(addressType).value = val;
            }
        }
    }

    // Bias the autocomplete object to the user's geographical location,
    // as supplied by the browser's 'navigator.geolocation' object.
    function geolocate() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function (position) {
                var geolocation = {
                    lat: position.coords.latitude,
                    lng: position.coords.longitude
                };
                var circle = new google.maps.Circle({
                    center: geolocation,
                    radius: position.coords.accuracy
                });
                Address.setBounds(circle.getBounds());
            });
        }

    }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAwiV5R3XMsrVZKI6NuD7vY4BRqUt9yQQA&libraries=places&callback=initAutocomplete"
        async defer></script>

@using (Html.BeginForm("Company_Location_Create", "HRCompany", FormMethod.Post))
{
    if (ViewBag.SuccessMsg != null)
    {
        <div class="alert alert-success">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <strong>Well done!</strong> @ViewBag.SuccessMsg
        </div>
    }
    if (ViewBag.ErrorMsg != null)
    {
        <div class="alert alert-danger">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <strong>Oh snap!</strong> @ViewBag.ErrorMsg
        </div>
    }
    <div class="row">
        <div class="col-lg-12">
            <section class="panel">
                <header class="panel-heading">
                    <div class="panel-actions">
                        <button type="button" class="mb-xs mt-xs mr-xs btn btn-primary" onclick="location.href = '@Url.Action("Company_Location", "HRCompany", new { area = "HR" })';">View All</button>
                        @*<a href="#" class="fa fa-caret-down"></a>*@
                        <!--<a href="#" class="fa fa-times"></a>-->
                    </div>
                    <h2 class="panel-title">Add New Location</h2>
                </header>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <div class="col-md-3">
                                <label class="control-label">Office Type <span style="color:#E04B4A;">*</span></label>
                            </div>
                            <div class="col-md-9">
                                @Html.DropDownListFor(m => m.OfficeType, new List<SelectListItem>
                                {
                                        new SelectListItem{Text="Head Office", Value="Head Office"},
                                        new SelectListItem{Text="Brach Office", Value="Brach Office"},
                                        new SelectListItem{Text="City Office", Value="City Office"},
                                        new SelectListItem{Text="Factory", Value="Factory"},
                                        
                               }, "-- Please Select --", new { @id = "OfficeType", @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-md-6 form-group">
                            <div class="col-md-3">
                                <label class="control-label">Office Code <span style="color:#E04B4A;">*</span></label>
                            </div>
                            <div class="col-md-9">
                                <div class="input-group input-group-icon">
                                    <span class="input-group-addon">
                                        <span class="icon"><i class="fa fa-map-pin"></i></span>
                                    </span>
                                    @Html.TextBoxFor(m => m.OfficeCode, new { @class = "form-control", placeholder = "Office Code" })
                                    @*<input class="form-control" type="text" placeholder="Office Code">*@
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <div class="col-md-3">
                                <label class="control-label">Person <span style="color:#E04B4A;">*</span></label>
                            </div>
                            <div class="col-md-9">
                                <div class="input-group input-group-icon">
                                    <span class="input-group-addon">
                                        <span class="icon"><i class="fa fa-user"></i></span>
                                    </span>
                                    @Html.TextBoxFor(m => m.ContactPerson, new { placeholder = "Contact Person", @class = "form-control" })
                                    @*<input type="text" placeholder="Contact Person" class="form-control">*@
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 form-group">
                            <div class="col-md-3">
                                <label class="control-label">Contact No <span style="color:#E04B4A;">*</span></label>
                            </div>
                            <div class="col-md-9">
                                <div class="input-group input-group-icon">
                                    <span class="input-group-addon">
                                        <span class="icon"><i class="fa fa-phone"></i></span>
                                    </span>
                                    @Html.TextBoxFor(m => m.ContactNo, new { placeholder = "Contact No", @class = "form-control", onkeypress = "return checkOnlyNumber(this,event);", maxlength = 10 })
                                    @*<input type="text" placeholder="Contact No" class="form-control">*@
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <div class="col-md-3">
                                <label class="control-label">Email Id <span style="color:#E04B4A;">*</span></label>
                            </div>
                            <div class="col-md-9">
                                <div class="input-group input-group-icon">
                                    <span class="input-group-addon">
                                        <span class="icon"><i class="fa fa-at"></i></span>
                                    </span>
                                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Email" })
                                    @*<input type="text" placeholder="EmailId" class="form-control">*@
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 form-group">
                            <div class="col-md-3">
                                <label class="control-label">Fax</label>
                            </div>
                            <div class="col-md-9">
                                <div class="input-group input-group-icon">
                                    <span class="input-group-addon">
                                        <span class="icon"><i class="fa fa-fax"></i></span>
                                    </span>
                                    @Html.TextBoxFor(m => m.FAX, new { placeholder = "Fax", @class = "form-control", onkeypress = "return checkOnlyNumber(this,event);" })
                                    @*<input type="text" placeholder="Fax" class="form-control">*@
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <div class="col-md-3">
                                <label class="control-label">Time Zone <span style="color:#E04B4A;">*</span></label>
                            </div>
                            <div class="col-md-9">
                                @*<select id="TimeZone" name="TimeZone" data-plugin-selecttwo class="form-control populate">
                                    <option value="0">Select Time Zone</option>
                                    @foreach (var item in ViewBag.AllTimeZoneList)
                                    {
                                        <option value="@item.Value">@item.Text</option>
                                    }                                    
                                </select>*@
                                @Html.DropDownListFor(model => model.TimeZone, ViewBag.AllTimeZoneList as IEnumerable<SelectListItem>, "Select Time Zone", new { @class = "form-control populate" })
                            </div>
                        </div>
                        <div class="col-md-6 form-group">
                            <div class="col-md-3">
                                <label class="control-label">Address <span style="color:#E04B4A;">*</span></label>
                            </div>
                            <div class="col-md-9">
                                <div class="input-group input-group-icon">
                                    <span class="input-group-addon">
                                        <span class="icon"><i class="fa fa-map-marker"></i></span>
                                    </span>
                                    @Html.TextBoxFor(m => m.Address, new { @name = "Address", @class = "form-control", @placeholder = "Enter Address", onfocus = "geolocate()" })
                                    @*<input type="text" placeholder="Contact No" class="form-control">*@
                                </div>
                            </div>
                        </div>
                    </div>
                        @*<div class="col-md-12 form-group">
                            <div class="col-md-2">
                                <label class="control-label">Address <span style="color:#E04B4A;">*</span></label>
                            </div>
                            <div class="col-md-10">
                                <div class="input-group input-group-icon">
                                    <span class="input-group-addon">
                                        <span class="icon"><i class="fa fa-map-marker"></i></span>
                                    </span>
                                    @Html.TextBoxFor(m => m.Address, new { @name = "Address", @class = "form-control", @placeholder = "Enter Address", onfocus = "geolocate()" })
                                </div>
                            </div>
                        </div>*@
                    
                </div>
                <footer class="panel-footer center">
                    <button type="submit" class="mb-xs mt-xs mr-xs btn btn-success">Add</button>
                    <button type="button" onclick="location.href = '@Url.Action("Company_Details", "HRCompany", new { area = "HR" })';" class="mb-xs mt-xs mr-xs btn btn-danger">Cancel</button>
                </footer>
            </section>
        </div>
    </div>
}
<script type="text/javascript">
    function checkOnlyNumber(evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode;
        if (charCode != 46 && charCode > 31
          && (charCode < 48 || charCode > 57))
            return false;

        return true;
    }
</script>
