﻿@model eHRMS.Areas.HR.Models.CompanyStatutory
@{
    ViewBag.Title = "Company Statutory";
    ViewBag.Now = "Company Management / Add Company Statutory";
    Layout = "~/Areas/HR/Views/Shared/_LayoutPageHR.cshtml";
}
@using (Html.BeginForm("Company_Statutory_Create", "HRCompany", FormMethod.Post))
{
    if (ViewBag.SuccessMsg != null)
    {
        <div class="alert alert-success">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <strong>Well done!</strong> @ViewBag.SuccessMsg
        </div>
    }
    if (ViewBag.ErrorMsg != null)
    {
        <div class="alert alert-danger">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <strong>Oh snap!</strong> @ViewBag.ErrorMsg
        </div>
    }
    <div class="row">
        <div class="col-lg-12">
            <section class="panel">
                <header class="panel-heading">
                    <div class="panel-actions">
                        <button type="button" class="mb-xs mt-xs mr-xs btn btn-primary" onclick="location.href = '@Url.Action("Company_Statutory", "HRCompany", new { area = "HR" })';">View All</button>
                        @*<a href="#" class="fa fa-caret-down"></a>*@
                        <!--<a href="#" class="fa fa-times"></a>-->
                    </div>
                    <h2 class="panel-title">Add New Statutory</h2>
                </header>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <div class="col-md-3">
                                <label class="control-label">TAN No. <span style="color:#E04B4A;">*</span></label>
                            </div>
                            <div class="col-md-9">
                                <div class="input-group input-group-icon">
                                    <span class="input-group-addon">
                                        <span class="icon"><i class="fa fa-pencil"></i></span>
                                    </span>
                                    @Html.TextBoxFor(m => m.TAN, new { @class = "form-control", placeholder = "TAN No" })
                                    @*<input class="form-control" type="text" placeholder="TAN No">*@
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 form-group">
                            <div class="col-md-3">
                                <label class="control-label">PAN No. <span style="color:#E04B4A;">*</span></label>
                            </div>
                            <div class="col-md-9">
                                <div class="input-group input-group-icon">
                                    <span class="input-group-addon">
                                        <span class="icon"><i class="fa fa-pencil"></i></span>
                                    </span>
                                    @Html.TextBoxFor(m => m.PAN, new { @class = "form-control", placeholder = "PAN No" })
                                    @*<input class="form-control" type="text" placeholder="PAN No">*@
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <div class="col-md-4">
                                <label class="control-label">Is ESI Applicable <span style="color:#E04B4A;">*</span></label>
                            </div>
                            <div class="col-md-8">
                                <div class="input-group input-group-icon">
                                    <div class="radio-custom radio-primary">
                                        @Html.RadioButtonFor(m => m.ESIApplicable, true, new { @checked = "checked" })
                                        @*<input type="radio" name="radioExample1">*@
                                        <label for="radioExample1">Yes</label>
                                    </div>
                                    <div class="radio-custom radio-primary">
                                        @Html.RadioButtonFor(m => m.ESIApplicable, false)
                                        <label for="radioExample1">No</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 form-group">
                            <div class="col-md-3">
                                <label class="control-label">ESI No</label>
                            </div>
                            <div class="col-md-9">
                                <div class="input-group input-group-icon">
                                    <span class="input-group-addon">
                                        <span class="icon"><i class="fa fa-pencil"></i></span>
                                    </span>
                                    @Html.TextBoxFor(m => m.ESINumber, new { @class = "form-control", placeholder = "ESI No" })
                                    @*<input type="text" placeholder="ESI No" class="form-control" disabled="">*@
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <div class="col-md-4">
                                <label class="control-label">Is PT Applicable <span style="color:#E04B4A;">*</span></label>
                            </div>
                            <div class="col-md-8">
                                <div class="input-group input-group-icon">
                                    <div class="radio-custom radio-primary">
                                        @Html.RadioButtonFor(m => m.PTApplicable, true, new { @checked = "checked" })
                                        <label for="radioExample2">Yes</label>
                                    </div>
                                    <div class="radio-custom radio-primary">
                                        @Html.RadioButtonFor(m => m.PTApplicable,false)
                                        <label for="radioExample2">No</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 form-group">
                            <div class="col-md-3">
                                <label class="control-label">PT No</label>
                            </div>
                            <div class="col-md-9">
                                <div class="input-group input-group-icon">
                                    <span class="input-group-addon">
                                        <span class="icon"><i class="fa fa-pencil"></i></span>
                                    </span>
                                    @Html.TextBoxFor(m => m.PTNumber, new { @class = "form-control", placeholder = "PT No" })
                                    @*<input type="text" placeholder="PT No" class="form-control" disabled="">*@
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <div class="col-md-4">
                                <label class="control-label">Is PF Applicable <span style="color:#E04B4A;">*</span></label>
                            </div>
                            <div class="col-md-8">
                                <div class="input-group input-group-icon">
                                    <div class="radio-custom radio-primary">
                                        @Html.RadioButtonFor(m => m.PFApplicable, true, new { @checked = "checked" })
                                        <label for="radioExample3">Yes</label>
                                    </div>
                                    <div class="radio-custom radio-primary">
                                        @Html.RadioButtonFor(m => m.PFApplicable,false)
                                        <label for="radioExample3">No</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 form-group">
                            <div class="col-md-3">
                                <label class="control-label">PF No</label>
                            </div>
                            <div class="col-md-9">
                                <div class="input-group input-group-icon">
                                    <span class="input-group-addon">
                                        <span class="icon"><i class="fa fa-pencil"></i></span>
                                    </span>
                                    @Html.TextBoxFor(m => m.PFNumber, new { @class = "form-control", placeholder = "PF No" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <footer class="panel-footer center">
                    <button type="submit" class="mb-xs mt-xs mr-xs btn btn-success">Add</button>
                    <button type="button" onclick="location.href = '@Url.Action("Company_Details", "HRCompany", new { area = "HR" })';" class="mb-xs mt-xs mr-xs btn btn-danger">Cancel</button>
                </footer>
            </section>
        </div>
    </div>
}
