﻿@model eHRMS.Areas.HR.Models.CompanyProfile
@if (Model != null)
{
    <div class="thumb-info mb-md">
        <img src="~/Content/hrms_images/CompanyBanner/@Model.BannerImagePath" class="rounded img-responsive" alt="@Model.CompanyName">
        <div class="thumb-info-title">
            <span class="thumb-info-inner">@Model.CompanyName</span>
            <span class="thumb-info-type">@Model.CompanyType</span>
        </div>
    </div>
    <div class="widget-toggle-expand mb-md">
        <div class="widget-header">
            <h6 class="text-muted">About</h6>
            <div class="widget-toggle">+</div>
        </div>
        <div class="widget-content-collapsed">
            <p>@Model.CompanyDetails</p>

        </div>
        <div class="widget-content-expanded">
            <ul class="simple-todo-list">
                <li><i class="fa fa-industry" aria-hidden="true"></i> Industry Type : @Model.IndustryType</li>
                <li><i class="fa fa-calendar" aria-hidden="true"></i> Incorporation Date : @Model.IncorporationDate.Value.ToString("dd-MM-yyyy")</li>
                <li><i class="fa fa-globe" aria-hidden="true"></i> Website : @Model.CompanyWebsite</li>
            </ul>
        </div>
    </div>
}
else
{
    <div class="thumb-info mb-md">
        <img src="~/Content/assets/images/blog-image-1.jpg" class="rounded img-responsive" alt="Company_Image">
        <div class="thumb-info-title">
            <span class="thumb-info-inner">Company Name</span>
            <span class="thumb-info-type">Company Type</span>
        </div>
    </div>
    <div class="widget-toggle-expand mb-md">
        <div class="widget-header">
            <h6 class="text-muted">About</h6>
            <div class="widget-toggle">+</div>
        </div>
        <div class="widget-content-collapsed">
            <p>Write something about your company.</p>
            @*<div class="progress progress-xs light">
                    <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                        60%
                    </div>
                </div>*@
        </div>
        <div class="widget-content-expanded">
            <ul class="simple-todo-list">
                <li><i class="fa fa-industry" aria-hidden="true"></i> Industry Type : XXXXXXXXXXX</li>
                <li><i class="fa fa-calendar" aria-hidden="true"></i> Incorporation Date : 00-00-0000</li>
                <li><i class="fa fa-globe" aria-hidden="true"></i> Website : www.abc.com</li>
            </ul>
        </div>
    </div>
    @*<hr class="dotted short">
        <div class="social-icons-list">
            <a rel="tooltip" data-placement="bottom" target="_blank" href="#" data-original-title="Facebook"><i class="fa fa-facebook"></i><span>Facebook</span></a>
            <a rel="tooltip" data-placement="bottom" href="#" data-original-title="Twitter"><i class="fa fa-twitter"></i><span>Twitter</span></a>
            <a rel="tooltip" data-placement="bottom" href="#" data-original-title="Linkedin"><i class="fa fa-linkedin"></i><span>Linkedin</span></a>
        </div>*@
}



