﻿@model IEnumerable<eHRMS.Areas.HR.Models.CompanyLocation>
@{
    ViewBag.Title = "Company Location Details";
    ViewBag.Now = "Company Management / Company Location Details";
    Layout = "~/Areas/HR/Views/Shared/_LayoutPageHR.cshtml";
}
@if (ViewBag.SuccessMsg != null)
{
    <div class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <strong>Well done!</strong> @ViewBag.SuccessMsg
    </div>
}
@if (ViewBag.ErrorMsg != null)
{
    <div class="alert alert-danger">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <strong>Oh snap!</strong> @ViewBag.ErrorMsg
    </div>
}
<div class="row">
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading">
                <div class="panel-actions">
                    <button type="button" class="mb-xs mt-xs mr-xs btn btn-primary" onclick="location.href = '@Url.Action("Company_Location_Create", "HRCompany", new { area = "HR" })';">Add New</button>
                </div>

                <h2 class="panel-title">Location Details</h2>
            </header>
            <div class="panel-body">
                <table class="table table-bordered table-striped mb-none" id="datatable-default">
                    <thead>
                        <tr>
                            <th>Office Type</th>
                            <th>Office Code</th>
                            <th>ContactPerson</th>
                            <th>Email</th>
                            <th>Contact Number</th>
                            <th>Address</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    @if (Model.Count() > 0)
                    {
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr class="gradeC">
                                    <td>@item.OfficeType</td>
                                    <td>@item.OfficeCode</td>
                                    <td>@item.ContactPerson</td>
                                    <td>@item.Email</td>
                                    <td>@item.ContactNo</td>
                                    <td>@item.Address</td>
                                    <td>
                                        <a href="@Url.Action("Company_Location_Create", "HRCompany", new { area = "HR", id = HttpUtility.UrlEncode(item.OfficeLocationID.ToString()) })"><i class="fa fa-pencil-square-o"></i></a>
                                        |
                                        <a href="" onclick="DeletePermanently(@item.OfficeLocationID)"><i class="fa fa-trash-o"></i></a>
                                        @*<input id="OfficeLocationID" value="@item.OfficeLocationID" type="hidden" />*@
                                    </td>
                                </tr>
                            }
                        </tbody>
                    }
                </table>
            </div>
        </section>
    </div>
</div>

<script type="text/javascript">
    function DeletePermanently(OfficeLocationID) {
        //var id = $("#OfficeLocationID").val();
        var id = OfficeLocationID;
        $.ajax({
            type: "POST",
            url: "/HRCompany/DeleteLocation?OfficeLocationID=" + id,
            dataType: "JSON",
            success: function (result) {
                alert("Office Location deleted successfully !");
            }
        });
    }
</script>

