﻿@model eHRMS.Areas.Admin.Models.EmailSetting
@{
    ViewBag.Title = "Email Configaration";
    ViewBag.Now = "Configaration / Email Config.";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutPageAdmin.cshtml";
}

@if (ViewBag.SuccessMsg != null)
{
    <div class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <strong>Well done!</strong> @ViewBag.SuccessMsg
    </div>
}
@if (ViewBag.ErrorMsg != null)
{
    <div class="alert alert-danger">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <strong>Oh snap!</strong> @ViewBag.ErrorMsg
    </div>
}
@Html.Action("EmailConfigView", "AdminConfigaration", new { area = "Admin" })

@using (Html.BeginForm("EmailConfig", "AdminConfigaration", FormMethod.Post))
{
    <div class="row">
        <div class="col-lg-12">
            <section class="panel">
                <header class="panel-heading">
                    <div class="panel-actions">
                        @*<a href="#" class="fa fa-caret-down"></a>*@
                        <!--<a href="#" class="fa fa-times"></a>-->
                    </div>
                    <h2 class="panel-title">Email Configaration</h2>
                </header>
                <div class="panel-body">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="col-md-3 control-label">From Email Id <span style="color:#E04B4A;">*</span></label>
                            <div class="col-md-6">
                                <div class="input-group input-group-icon">
                                    <span class="input-group-addon">
                                        <span class="icon"><i class="fa fa-at"></i></span>
                                    </span>
                                    @Html.TextBoxFor(m => m.FromEmail, new { @class = "form-control", placeholder = "From Email Id" })
                                    @*<input type="text" class="form-control" placeholder="From Email Id">*@
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Username <span style="color:#E04B4A;">*</span></label>
                            <div class="col-md-6">
                                <div class="input-group input-group-icon">
                                    <span class="input-group-addon">
                                        <span class="icon"><i class="fa fa-user"></i></span>
                                    </span>
                                    @Html.TextBoxFor(m => m.UserID, new { @class = "form-control", placeholder = "Username" })
                                    @*<input type="text" class="form-control" placeholder="Username">*@
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Password <span style="color:#E04B4A;">*</span></label>
                            <div class="col-md-6">
                                <div class="input-group input-group-icon">
                                    <span class="input-group-addon">
                                        <span class="icon"><i class="fa fa-key"></i></span>
                                    </span>
                                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password" })
                                    @*<input type="password" class="form-control" placeholder="Password">*@
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">SMTP Server <span style="color:#E04B4A;">*</span></label>
                            <div class="col-md-6">
                                <div class="input-group input-group-icon">
                                    <span class="input-group-addon">
                                        <span class="icon"><i class="fa fa-server"></i></span>
                                    </span>
                                    @Html.TextBoxFor(m => m.SMTPServer, new { @class = "form-control", placeholder = "SMTP Server" })
                                    @*<input type="text" class="form-control" placeholder="SMTP Server">*@
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">SMTP Port <span style="color:#E04B4A;">*</span></label>
                            <div class="col-md-6">
                                <div class="input-group input-group-icon">
                                    <span class="input-group-addon">
                                        <span class="icon"><i class="fa fa-plug"></i></span>
                                    </span>
                                    @Html.TextBoxFor(m => m.SMTPPort, new { @class = "form-control", placeholder = "SMTP Port", onkeypress = "return checkOnlyNumber(this,event);" })
                                    @*<input type="text" class="form-control" placeholder="SMTP Port">*@
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <footer class="panel-footer center">
                    <button type="submit" class="mb-xs mt-xs mr-xs btn btn-success">Save</button>
                    <button type="button" onclick="location.href = '@Url.Action("Dashboard", "AdminDashboard", new { area = "Admin" })';" class="mb-xs mt-xs mr-xs btn btn-danger">Cancel</button>
                </footer>
            </section>
        </div>
    </div>
}
<script type="text/javascript">
    function checkOnlyNumber(evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode;
        if (charCode != 46 && charCode > 31
          && (charCode < 48 || charCode > 57))
            return false;

        return true;
    }
</script>
