﻿@model eHRMS.Areas.Admin.Models.SlabMaster
@{
    ViewBag.Title = "IT Slab Master";
    ViewBag.Now = "Configaration / IT Slab Master";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutPageAdmin.cshtml";
}
@if (ViewBag.SuccessMsg != null)
{
    <div class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <strong>Well done!</strong> @ViewBag.SuccessMsg
    </div>
}
@if (ViewBag.ErrorMsg != null)
{
    <div class="alert alert-danger">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <strong>Oh snap!</strong> @ViewBag.ErrorMsg
    </div>
}

@Html.Action("ViewITSlab", "AdminConfigaration", new { area = "Admin" })

@using (Html.BeginForm("ITSlab", "AdminConfigaration", FormMethod.Post))
{
    <div class="row">
        <div class="col-lg-12">
            <section class="panel">
                <header class="panel-heading">
                    <div class="panel-actions">
                        @*<button type="button" class="mb-xs mt-xs mr-xs btn btn-primary" onclick="location.href = '@Url.Action("ViewITSlab", "AdminConfigaration", new { area = "Admin" })';">View All</button>*@
                        @*<a href="#" class="fa fa-caret-down"></a>*@
                        <!--<a href="#" class="fa fa-times"></a>-->
                    </div>
                    <h2 class="panel-title">IT Slab Master</h2>
                </header>

                <div class="panel-body">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="col-md-3 control-label">Income <span style="color:#E04B4A;">*</span></label>
                            <div class="col-md-6">
                                <div class="input-group input-daterange">
                                    <span class="input-group-addon">
                                        <i class="fa fa-money"></i>
                                    </span>
                                    @Html.TextBoxFor(m => m.IncomeFrom, new { placeholder = "Income From", @class = "form-control", onkeypress = "return checkOnlyNumber(this,event);" })
                                    @*<input type="text" placeholder="Income From" class="form-control">*@
                                    <span class="input-group-addon">
                                        <i class="fa fa-money"></i>
                                    </span>
                                    @Html.TextBoxFor(m => m.IncomeTo, new { placeholder = "Income To", @class = "form-control", onkeypress = "return checkOnlyNumber(this,event);" })
                                    @*<input type="text" placeholder="Income To" class="form-control">*@
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Tax Percent <span style="color:#E04B4A;">*</span></label>
                            <div class="col-md-6">
                                <div class="input-group input-group-icon">
                                    <span class="input-group-addon">
                                        <span class="icon"><i class="fa fa-percent"></i></span>
                                    </span>
                                    @Html.TextBoxFor(m => m.TAX, new { @class = "form-control", placeholder = "Tax Percent", onkeypress = "return checkOnlyNumber(this,event);", maxlength = 2 })
                                    @*<input type="text" class="form-control" placeholder="Tax Percent">*@
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Category <span style="color:#E04B4A;">*</span></label>
                            <div class="col-md-6">
                                <div class="input-group input-group-icon">
                                    <div class="radio-custom radio-primary">
                                        @Html.RadioButtonFor(m => m.Category, "Senior Citizen (60-80 years)")
                                        @*<input type="radio" name="1">*@
                                        <label for="radioExample2">Senior Citizen (60-80 years)</label>
                                    </div>
                                    <div class="radio-custom radio-primary">
                                        @Html.RadioButtonFor(m => m.Category, "Senior Citizen (Above 80 years)")
                                        @*<input type="radio" name="1">*@
                                        <label for="radioExample2">Senior Citizen (Above 80 years)</label>
                                    </div>
                                    <div class="radio-custom radio-primary">
                                        @Html.RadioButtonFor(m => m.Category, "Woman", new { @checked = "checked" })
                                        @*<input checked="checked" type="radio" name="1">*@
                                        <label for="radioExample2">Woman</label>
                                    </div>
                                    <div class="radio-custom radio-primary">
                                        @Html.RadioButtonFor(m => m.Category, "Others")
                                        @*<input checked="checked" type="radio" name="1">*@
                                        <label for="radioExample2">Others</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <footer class="panel-footer center">
                    <button type="submit" class="mb-xs mt-xs mr-xs btn btn-success">Save</button>
                    <button type="button" onclick="location.href = '@Url.Action("Dashboard", "AdminDashboard", new { area = "Admin" })';" class="mb-xs mt-xs mr-xs btn btn-danger">Cancel</button>
                </footer>
            </section>
        </div>
        <!-- end: page -->
    </div>
}
<script type="text/javascript">
    function checkOnlyNumber(evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode;
        if (charCode != 46 && charCode > 31
          && (charCode < 48 || charCode > 57))
            return false;

        return true;
    }
</script>
