﻿@model IEnumerable<eHRMS.Areas.HR.Models.dashboardLeave>


<div class="panel panel-primary">
    <header class="panel-heading ">
        <h2 class="panel-title">Leave</h2>
    </header>
    <div class="panel-body ">

        <div class="row">
            <div class="col-sm-6">

                @Html.DropDownList("FilterBy", new List<SelectListItem>
                                {
                                        new SelectListItem{Text="Today", Value="Today"},
                                        new SelectListItem{Text="This Week", Value="This Week"},
                                        new SelectListItem{Text="This Month", Value="This Month"},
                        }, "-- Please Select --", new { @id = "FilterBy", @class = "form-control", @onchange = "document.location.href = '/HR/HRDashboard/Dashboard?filter=' + this.options[this.selectedIndex].value;" })
            </div>
            <div class="col-sm-6">
                <h4>Leave in @Request.QueryString["filter"] </h4>
            </div>
            <div class="col-sm-12 scroll" id="display1">
                <table class="table table-bordred table-striped mb-none" id="daatable-default">
                    <thead>
                        <tr>
                            <th>Employee Code</th>
                            <th>From</th>
                            <th>To</th>
                            <th>Applied For</th>
                            <th>Reason</th>
                            <th>IsApproved</th>

                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.Count() > 0)
                        {

                            foreach (var item in Model)
                            {
                                <tr class="gradeC">
                                    <td>@item.Employee_Code</td>
                                    <td>@item.LeaveFrom.Value.ToString("MM-dd-yyyy") </td>
                                    <td>@item.LeaveTo.Value.ToString("MM-dd-yyyy")</td>
                                    <td>@item.AppliedFor</td>
                                    <td>@Html.Raw(item.Reason)</td>
                                    <td>@item.IsApproved</td>
                                </tr>
                            }

                        }
                        else
                        {
                            <tr class="gradeC">
                                <td class="text-center" colspan="6">No Data Found</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
@*<script type="text/javascript">
            function filterSearch(strFilter) {
                var id = strFilter;
                // alert(id);
                $.ajax({
                   // cache: false,
                    type: "GET",
                  //  async: true,
                    url: "/HR/HRDashboard/DashboardLeave?filter=" + id,
                    dataType: "JSON",
                    success: function (result) {
                        console.log(result);
                        alert("Department deleted successfully !");
                       // window.location.href = '@Url.Action("Dashboard", "HRDashboard", new { area = "HR" })';
                    }
                });
            }
    </script>*@