﻿@model IEnumerable<eHRMS.Areas.HR.Models.DashboardAnniversary>

<div class="panel panel-danger">
    <header class="panel-heading ">
        <h2 class="panel-title">Today Anniversary</h2>
    </header>
    <div class="panel-body ">

        <div class="row">
            <div class="col-sm-6">


            </div>

            <div class="col-sm-12 scroll">
                <table class="table table-bordred table-striped mb-none" id="daatable-default">
                    <thead>
                        <tr>
                            <th>@DateTime.Today.ToString("dddd, MMMM dd, yyyy")</th>
                          
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.Count() > 0)
                        {
                            foreach (var item in Model)
                            {
                                <tr class="gradeC">
                                    <td>@item.Notification</td>
                                </tr>
                            }

                        }
                        else
                        {
                            <tr class="gradeC">
                                <td class="text-center">No Data Found</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

