﻿@model eHRMS.Areas.HR.Models.CompanyProject
@{
    ViewBag.Title = "Add Projects";
    ViewBag.Now = "Project Management / Add Projects";
    Layout = "~/Areas/HR/Views/Shared/_LayoutPageHR.cshtml";
}
@using (Html.BeginForm("Projects_Management_Add", "HRProject", FormMethod.Post))
{
    if (ViewBag.SuccessMsg != null)
    {
        <div class="alert alert-success">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <strong>Well done!</strong> @ViewBag.SuccessMsg
        </div>
    }
    if (ViewBag.ErrorMsg != null)
    {
        <div class="alert alert-danger">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <strong>Oh snap!</strong> @ViewBag.ErrorMsg
        </div>
    }
    <div class="row">
        <div class="col-lg-12">
            <section class="panel">
                <header class="panel-heading">
                    <div class="panel-actions">
                        <button type="button" class="mb-xs mt-xs mr-xs btn btn-primary" onclick="location.href = '@Url.Action("Projects_Management", "HRProject", new { area = "HR" })';">View All</button>
                        @*<a href="#" class="fa fa-caret-down"></a>*@
                        <!--<a href="#" class="fa fa-times"></a>-->
                    </div>
                    <h2 class="panel-title">Add Projects</h2>
                </header>
                <div class="panel-body">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="col-md-3 control-label">Project Code <span style="color:#E04B4A;">*</span></label>
                            <div class="col-md-6">
                                <div class="input-group input-group-icon">
                                    <span class="input-group-addon">
                                        <span class="icon"><i class="fa fa-pencil"></i></span>
                                    </span>
                                    @Html.TextBoxFor(m => m.ProjectCode, new { @class = "form-control", placeholder = "Project Code" })
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Project Name <span style="color:#E04B4A;">*</span></label>
                            <div class="col-md-6">
                                <div class="input-group input-group-icon">
                                    <span class="input-group-addon">
                                        <span class="icon"><i class="fa fa-pencil"></i></span>
                                    </span>
                                    @Html.TextBoxFor(m => m.ProjectName, new { @class = "form-control", placeholder = "Project Name" })
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="textareaDefault">Description <span style="color:#E04B4A;">*</span></label>
                            <div class="col-md-6">
                                @Html.TextAreaFor(m => m.Description, new { @class = "form-control", rows = "3" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="inputDefault">Start Date <span style="color:#E04B4A;">*</span></label>
                            <div class="col-md-6">
                                <div class="input-group input-group-icon">
                                    <span class="input-group-addon">
                                        <span class="icon"><i class="fa fa-calendar"></i></span>
                                    </span>
                                    @if (Model.StartDate != null)
                                    {
                                        <input id="StartDate" name="StartDate" type="text" class="form-control" value="@Model.StartDate.Value.ToString("MM/dd/yyyy")" placeholder="Start Date" data-plugin-datepicker="">   
                                    }
                                    else
                                    {
                                        <input id="StartDate" name="StartDate" type="text" class="form-control" placeholder="Start Date" data-plugin-datepicker="">
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="inputDefault">End Date <span style="color:#E04B4A;">*</span></label>
                            <div class="col-md-6">
                                <div class="input-group input-group-icon">
                                    <span class="input-group-addon">
                                        <span class="icon"><i class="fa fa-calendar"></i></span>
                                    </span>
                                    @if (Model.EndDate != null)
                                    {
                                        <input id="EndDate" name="EndDate" type="text" class="form-control" value="@Model.EndDate.Value.ToString("MM/dd/yyyy")" placeholder="End Date" data-plugin-datepicker="">
                                    }
                                    else
                                    {
                                        <input id="EndDate" name="EndDate" type="text" class="form-control" placeholder="End Date" data-plugin-datepicker="">
                                    }
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <footer class="panel-footer center">
                    <button type="submit" class="mb-xs mt-xs mr-xs btn btn-success">Add</button>
                    <button type="button" onclick="location.href = '@Url.Action("Project_Dashboard", "HRProject", new { area = "HR" })';" class="mb-xs mt-xs mr-xs btn btn-default">Cancel</button>
                </footer>
            </section>
        </div>
    </div>
}
