﻿@model IEnumerable<eHRMS.Areas.HR.Models.CompanyProject>
@{
    ViewBag.Title = "View Projects";
    ViewBag.Now = "Project Management / View Projects";
    Layout = "~/Areas/HR/Views/Shared/_LayoutPageHR.cshtml";
}
@if (ViewBag.SuccessMsg != null)
{
    <div class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <strong>Well done!</strong> @ViewBag.SuccessMsg
    </div>
}
@if (ViewBag.ErrorMsg != null)
{
    <div class="alert alert-danger">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <strong>Oh snap!</strong> @ViewBag.ErrorMsg
    </div>
}
<div class="row">
    <div class="col-lg-12">

        <section class="panel">
            <header class="panel-heading">
                <div class="panel-actions">
                    <button type="button" class="mb-xs mt-xs mr-xs btn btn-primary" onclick="location.href = '@Url.Action("Projects_Management_Add", "HRProject", new { area = "HR" })';">Add New</button>
                </div>
                <h2 class="panel-title">Projects Management</h2>
            </header>
            <div class="panel-body">
                <table class="table table-bordered table-striped mb-none" id="datatable-default">
                    <thead>
                        <tr>
                            <th>Project Code</th>
                            <th>Project Name</th>
                            <th>Start Date</th>
                            <th>End Date</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    @if (Model.Count() > 0)
                    {
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr class="gradeC">
                                    <td>@item.ProjectCode</td>
                                    <td>@item.ProjectName</td>
                                    <td>@item.StartDate.Value.ToString("dd-MM-yyyy")</td>
                                    <td>@item.EndDate.Value.ToString("dd-MM-yyyy")</td>
                                    <td>
                                        <a href="@Url.Action("Projects_Management_Add", "HRProject", new { area = "HR", id = HttpUtility.UrlEncode(item.ProjectID.ToString()) })"><i class="fa fa-pencil-square-o"></i></a>
                                        |
                                        <a href="" onclick="DeletePermanently(@item.ProjectID)"><i class="fa fa-trash-o"></i></a>
                                        @*<input id="ProjectID" value="@item.ProjectID" type="hidden" />*@
                                    </td>
                                </tr>
                            }
                        </tbody>
                    }
                </table>
            </div>
        </section>
    </div>
</div>

<script type="text/javascript">
    function DeletePermanently(ProjectID) {
        var id = ProjectID;
        $.ajax({
            type: "POST",
            url: "/HRProject/DeleteProject?ProjectID=" + id,
            dataType: "JSON",
            success: function (result) {
                alert("Project details deleted successfully !");
            }
        });
    }
</script>
