﻿@model IEnumerable<eHRMS.Areas.HR.Models.Holiday>
@{
    ViewBag.Title = "Holiday";
    ViewBag.Now = "Attendance & Leave Management / Holiday";
    Layout = "~/Areas/HR/Views/Shared/_LayoutPageHR.cshtml";
}

@if (ViewBag.SuccessMsg != null)
{
    <div class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <strong>Well done!</strong> @ViewBag.SuccessMsg
    </div>
}
@if (ViewBag.ErrorMsg != null)
{
    <div class="alert alert-danger">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <strong>Oh snap!</strong> @ViewBag.ErrorMsg
    </div>
}
<div class="row">
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading">
                <div class="panel-actions">
                    <button type="button" class="mb-xs mt-xs mr-xs btn btn-primary" onclick="location.href = '@Url.Action("Holiday_Add", "AttLeave", new { area = "HR" })';">Add New</button>
                </div>
                <h2 class="panel-title"> All Holidays</h2>
            </header>
            <div class="panel-body">
                <table class="table table-bordered table-striped mb-none" id="datatable-default">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Holiday</th>
                            <th>Details</th>
                            <th>Same Day Every Year</th>
                        </tr>
                    </thead>
                    @if (Model.Count() > 0)
                    {
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr class="gradeC">
                                    <td>@item.Date.Value.ToString("dd-MM-yyyy")</td>
                                    <td>@item.Title</td>
                                    <td>@item.Details</td>
                                    <td>@(Convert.ToBoolean(item.SameDayEveryYear) ? "YES" : "NO")</td>
                                </tr>
                            }
                        </tbody>
                    }
                </table>
            </div>
        </section>
    </div>
</div>

