﻿@model IEnumerable<eHRMS.Areas.Employee.Models.Emp_Leave>
@{
    ViewBag.Title = "Leave Request";
    ViewBag.Now = "Attendance & Leave Management / Leave Request";
    Layout = "~/Areas/HR/Views/Shared/_LayoutPageHR.cshtml";
}

@if (ViewBag.SuccessMsg != null)
{
    <div class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <strong>Well done!</strong> @ViewBag.SuccessMsg
    </div>
}
@if (ViewBag.ErrorMsg != null)
{
    <div class="alert alert-danger">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <strong>Oh snap!</strong> @ViewBag.ErrorMsg
    </div>
}
<div class="row">
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading">
                <div class="panel-actions">
                    @*<button type="button" class="mb-xs mt-xs mr-xs btn btn-primary" onclick="location.href = '@Url.Action("Holiday_Add", "AttLeave", new { area = "HR" })';">Add New</button>*@
                </div>
                <h2 class="panel-title"> Leave Request</h2>
            </header>
            <div class="panel-body">
                <table class="table table-bordered table-striped mb-none" id="datatable-default">
                    <thead>
                        <tr>
                            <th>Emp. Code</th>
                            <th>Leave From</th>
                            <th>Leave To</th>
                            <th>No. of Days</th>
                            <th>Applied For</th>
                            <th>Reason</th>
                            <th>LeaveType</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    @if (Model.Count() > 0)
                    {
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr class="gradeX">
                                    <td>@item.Employee_Code</td>
                                    <td>@item.LeaveFrom.Value.ToString("dd-MM-yyyy")</td>
                                    <td>@item.LeaveTo.Value.ToString("dd-MM-yyyy")</td>
                                    <td>@item.LeaveDays</td>
                                    <td>@item.AppliedFor</td>
                                    <td>@Html.Raw(item.Reason)</td>                                    
                                    <td>@item.LeaveType</td>
                                    @if (item.IsApproved != null)
                                    {
                                        <td>@(Convert.ToBoolean(item.IsApproved) ? "APPROVED" : "REJECTED")</td>
                                    }
                                    else
                                    {
                                        <td>PENDING</td>
                                    }
                                    <td>
                                        <a href="#!" onclick="Approve(@item.ID)"><i class="fa fa-check text-danger"></i></a>
                                        |
                                        <a href="#!" onclick="Reject(@item.ID)"><i class="fa fa-remove text-Success"></i></a>
                                        @*<input id="LeaveID" value="@item.ID" type="hidden" />*@
                                    </td>

                                </tr>
                            }
                        </tbody>
                    }
                </table>
            </div>
        </section>
    </div>
</div>
<script type="text/javascript">
    function Approve(ID) {
        //var id = $("#LeaveID").val();
        var id = ID;
        $.ajax({
            type: "POST",
            url: "/AttLeave/ApproveRequest?LeaveID=" + id,
            dataType: "JSON",
            success: function (result) {
                //alert("Leave request approved !");
                window.location.href = "@Request.Url.AbsoluteUri";
            }
        });
    }
    function Reject(ID) {
        //var id = $("#LeaveID").val();
        var id = ID;
        $.ajax({
            type: "POST",
            url: "/AttLeave/RejectRequest?LeaveID=" + id,
            dataType: "JSON",
            success: function (result) {
                //alert("Leave request rejected !");
                window.location.href = "@Request.Url.AbsoluteUri";
            }
        });
    }
</script>
