﻿@model IEnumerable<eHRMS.Areas.HR.Models.LeaveBalance>
@if (Model.Count() > 0 && Model != null)
{
    <div class="form-group">
        @foreach (var item in Model)
        {
            <div class="col-md-2">
                <ul class="simple-bullet-list mb-xlg">
                    <li class="green">
                        <span class="title">@item.AppliedFor</span>
                        <span class="description truncate bold">Allowed : @item.LeaveAllowed</span>
                        @if(item.LeaveTaken!=null)
                        {
                        <span class="description truncate bold">Taken : @item.LeaveTaken</span>
                        <span class="description truncate bold">Balance : @item.LeaveDue</span>
                        }
                        else
                        {
                        <span class="description truncate bold">Taken : 0</span>
                        <span class="description truncate bold">Balance : @item.LeaveAllowed</span>
                        }
                    </li>
                </ul>
            </div>
        }
    </div>
}
