﻿@model eHRMS.Areas.HR.Models.ChangePassword
@{
    ViewBag.Title = "ChangePassword";
    ViewBag.Now = "Settings / Change Password";
    Layout = "~/Areas/HR/Views/Shared/_LayoutPageHR.cshtml";
}
@if (ViewBag.SuccessMsg != null)
{
    <div class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <strong>Well done!</strong> @ViewBag.SuccessMsg
    </div>
}
@if (ViewBag.ErrorMsg != null)
{
    <div class="alert alert-danger">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <strong>Oh snap!</strong> @ViewBag.ErrorMsg
    </div>
}
@using (Html.BeginForm("ChangePassword", "HRAccount", FormMethod.Post))
{
    <div class="row">
        <div class="col-lg-12">
            <section class="panel">
                <header class="panel-heading">
                    <div class="panel-actions">
                        @*<a href="#" class="fa fa-caret-down"></a>*@
                        <!--<a href="#" class="fa fa-times"></a>-->
                    </div>
                    <h2 class="panel-title">Change Password</h2>
                </header>
                <div class="panel-body">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="col-md-3 control-label">Username <span style="color:#E04B4A;">*</span></label>
                            <div class="col-md-6">
                                <div class="input-group input-group-icon">
                                    <span class="input-group-addon">
                                        <span class="icon"><i class="fa fa-user"></i></span>
                                    </span>
                                    @Html.TextBoxFor(m => m.UserID, new { @class = "form-control", @placeholder = "Username", @disabled = "disabled" })
                                    @*<input type="text" class="form-control" placeholder="Username">*@
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Current Password <span style="color:#E04B4A;">*</span></label>
                            <div class="col-md-6">
                                <div class="input-group input-group-icon">
                                    <span class="input-group-addon">
                                        <span class="icon"><i class="fa fa-key"></i></span>
                                    </span>
                                    @Html.PasswordFor(m => m.CurrentPassword, new { @class = "form-control", @placeholder = "Current Password" })
                                    @*<input type="password" class="form-control" placeholder="Current Password">*@
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">New Password <span style="color:#E04B4A;">*</span></label>
                            <div class="col-md-6">
                                <div class="input-group input-group-icon">
                                    <span class="input-group-addon">
                                        <span class="icon"><i class="fa fa-lock"></i></span>
                                    </span>
                                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Enter New Password" })
                                    @*<input type="password" class="form-control" placeholder="Enter New Password">*@
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Confirm New Password <span style="color:#E04B4A;">*</span></label>
                            <div class="col-md-6">
                                <div class="input-group input-group-icon">
                                    <span class="input-group-addon">
                                        <span class="icon"><i class="fa fa-lock"></i></span>
                                    </span>
                                    @Html.PasswordFor(m => m.Confirm_Password, new { @class = "form-control", @placeholder = "Confirm New Password" })
                                    @*<input type="password" class="form-control" placeholder="Enter New Password">*@
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <footer class="panel-footer center">
                    <button type="submit" class="mb-xs mt-xs mr-xs btn btn-success">Submit</button>
                </footer>
            </section>
        </div>
    </div>
}

